<footer class="footer-v9 v11">
  <div class="container">
    <div class="footer-content-v9 row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="widget widget-about">
          <img src="assets/img/logo_1.png" alt="">
          <h3 class="widget-title">Information</h3>
          <ul>
            <li>
              <span class="wz-icon"><i class="lni lni-map"></i></span>
              <p>90 Fifth Avenue, 3rd Floor New York NY 10011</p>
            </li>
            <li>
              <span class="wz-icon"><i class="lni lni-envelope"></i></span>
              <p><a href="mailto:example@example.com" title="">hello@msulting.co.us</a></p>
            </li>
            <li>
              <span class="wz-icon"><i class="lni lni-phone"></i></span>
              <p>(+37) 96 5468 68</p>
            </li>
          </ul>
        </div><!--widget-about END-->
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="widget widget-links">
          <h3 class="widget-title">comany</h3>
          <ul class="wd-links">
            <li><a href="24_about_agency.html" title="">About Us</a></li>
            <li><a href="32_team.html" title="">Team</a></li>
            <li><a href="33_career.html" title="">Careers</a></li>
            <li><a href="#" title="">Investors</a></li>
            <li><a href="27_service_1.html" title="">Services</a></li>
            <li><a href="#" title="">Cases</a></li>
            <li><a href="30_contact_1.html" title="">Contact Us</a></li>
            <li><a href="#" title="">Offices</a></li>
          </ul>
        </div><!--widget-links end-->
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="widget widget-links">
          <h3 class="widget-title">quick links</h3>
          <ul class="wd-links">
            <li><a href="#" title="">Help Center</a></li>
            <li><a href="#" title="">FAQs</a></li>
            <li><a href="#" title="">Policy Privacy</a></li>
            <li><a href="#" title="">Term Conditions</a></li>
            <li><a href="#" title="">Sitemap</a></li>
          </ul>
        </div><!--widget-links end-->
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="widget widget-newsletter">
          <h3 class="widget-title">Newsletter</h3>
          <p>Subscribe to our newsletter and we will inform you about newset projects and promotions</p>
          <form class="newz-form">
            <span class="input input--makiko">
              <input class="input__field input__field--makiko" type="email" id="input-16"  placeholder="Enter email address...">
              <label class="input__label input__label--makiko">
                <button type="submit" class="input__label-content input__label-content--makiko"><i class="lni lni-envelope"></i></button>
              </label>
            </span>
          </form><!--newz-form end-->
        </div><!--widget-newsletter end-->
      </div>
    </div><!--footer-content-v9 end-->
    <div class="row btm-footer">
      <div class="col-lg-4 col-md-6">
        <ul class="social-links">
          <li><a href="{{ site.data.settings.social_settings.twitter }}" title=""><i class="fab fa-twitter"></i></a></li>
          <li><a href="{{ site.data.settings.social_settings.github }}" title=""><i class="fab fa-github"></i></a></li>
          <li><a href="{{ site.data.settings.social_settings.facebook }}" title=""><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="{{ site.data.settings.social_settings.dribble }}" title=""><i class="fab fa-dribbble"></i></a></li>
          <li><a href="{{ site.data.settings.social_settings.instagram }}" title=""><i class="fab fa-instagram"></i></a></li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-6">
        <p class="cp-txt">{{ site.data.settings.footer_settings.copyright_text }} <a href="{{ site.baseurl }}/"><u>{{ site.data.settings.name }}</u></a></p>
      </div>
      <div class="col-lg-4">
        <div class="widget-language text-left">
          <ul>
            <li><a href="#" title="">ENG</a></li>
            <li><a href="#" title="">FRA</a></li>
            <li><a href="#" title="">GER</a></li>
          </ul>
        </div>
      </div>
    </div><!--bottom-footer end-->
  </div>
</footer><!--footer end-->
