<footer class="footer-v6 v8">
  <div class="container">
    <div class="footer-content-v6">
      <div class="row">
        <div class="col-lg-6">
          <div class="widget-abt wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0ms">
            <h2>Boost your business up to high level</h2>
            <h2>Start by <a href="#" title=""> saying hi</a></h2>
          </div><!--widget-abt end-->
        </div>
        <div class="col-lg-2">
          <div class="widget-ft-services">
            <h3>Services</h3>
            <ul>
              <li><a href="#" title="">SEO Marketing</a></li>
              <li><a href="#" title="">SEO Services</a></li>
              <li><a href="#" title="">Pay Per Click</a></li>
              <li><a href="#" title="">SEO Audit</a></li>
              <li><a href="#" title="">FB/GG Ads</a></li>
              <li><a href="#" title="">Email Marketing</a></li>
            </ul>
          </div><!--widget-ft-services end-->
        </div>
        <div class="col-lg-4">
          <div class="get-touch-txt mw-100 wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="0ms">
            <h5>contact</h5>
            <h4>90 Fairground Rd, FL 3290, United States</h4>
            <a href="#" title="">hello@milseo.co</a>
            <ul>
              <li><a href="15_portfolio_horizontal_scroll.html" title="">Works</a></li>
              <li><a href="24_about_agency.html" title="">About</a></li>
              <li><a href="blog-layout1.html" title="">News</a></li>
              <li><a href="30_contact_1.html" title="">Contact</a></li>
            </ul>
          </div><!--get-touch-txt end-->
        </div>
      </div>
      <div class="mile-bottom-footer">
        <div class="row align-items-center">
          <div class="col-lg-8">
            <div class="btm-copy">
              <img src="assets/img/logo8.png" alt="">
              <p>© 2022. All Rights Reserved</p>
            </div><!--btm-copy end-->
          </div>
          <div class="col-lg-4">
            <ul class="social-header">
              <li><a href="#" title=""><i class="lni lni-twitter-original"></i></a></li>
              <li><a href="#" title=""><i class="lni lni-facebook-filled"></i></a></li>
              <li><a href="#" title=""><i class="lni lni-instagram-original"></i></a></li>
              <li><a href="#" title=""><i class="lni lni-pinterest"></i></a></li>
              <li><a href="#" title=""><i class="lni lni-youtube"></i></a></li>
            </ul><!--social-header end-->
          </div>
        </div>
      </div><!--mile-bottom-footer end-->
    </div><!--footer-content-v6 end-->
  </div>
</footer>
