<footer class="footer-v2">
  <div class="row footer-content">
    <div class="col-lg-6">
      <div class="ft-widget-one">
        <div class="ft-widget-one-content">
          <img src="assets/img/logo_13.png" alt="" class="ft-logo">
          <div class="ft-newsletter">
            <span>Subscribe our newsletter for news update</span>
            <form>
              <input type="email" name="email" placeholder="Enter email address...">
              <button type="submit"><i class="lni lni-plus"></i></button>
            </form>
            <p class="copyright-text">© <strong>Miles</strong> 2020. All Rights Reserved</p>
          </div><!--ft-newslettere end-->
        </div>
      </div><!--ft-widget-one end-->
    </div>
    <div class="col-lg-6">
      <div class="fl-widget-two">
        <div class="fl-widget-two-content wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0ms">
          <span>Head Office</span>
          <h2>116 Fairground Rd. <br /> Melbourne, FL 32904, United States</h2>
          <ul class="ft-links-mile">
            <li><a href="24_about_agency.html" title="">about us</a></li>
            <li><a href="33_career.html" title="">jobs</a></li>
            <li><a href="30_contact_1.html" title="">contact us</a></li>
            <li><a href="28_services_2.html" title="">services</a></li>
            <li><a href="blog-layout1.html" title="">news</a></li>
          </ul><!--ft-links-mile end-->
          <ul class="social-links v2">
            <li><a href="#" title=""><i class="fab fa-facebook-square"></i></a></li>
            <li><a href="#" title=""><i class="fab fa-twitter"></i></a></li>
            <li><a href="#" title=""><i class="fab fa-behance"></i></a></li>
            <li><a href="#" title=""><i class="fab fa-instagram"></i></a></li>
          </ul>
        </div><!--fl-widget-two-content end-->
      </div><!--fl-widget-two end-->
    </div>
  </div>
</footer><!--footer end-->
