<footer class="footer-v7">
  <div class="container">
    <div class="footer-content-v7">
      <ul class="menu-links">
        <li><a href="24_about_agency.html" title="">About</a></li>
        <li><a href="#" title="">start here</a></li>
        <li><a href="#" title="">courses</a></li>
        <li><a href="#" title="">design</a></li>
        <li><a href="30_contact_1.html" title="">contact</a></li>
      </ul><!--menu-links end-->
      <div class="row">
        <div class="col-lg-4">
          <div class="widget-follow">
            <h3>follow us</h3>
            <ul class="social-links">
              <li><a href="#" title=""><i class="fab fa-twitter"></i></a></li>
              <li><a href="#" title=""><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#" title=""><i class="fab fa-instagram"></i></a></li>
              <li><a href="#" title=""><i class="fab fa-youtube"></i></a></li>
            </ul><!--social-links end-->
          </div><!--widget-follow end-->
        </div>
        <div class="col-lg-4">
          <div class="widget-about text-center">
            <img src="assets/img/logo_3.png" alt="">
            <ul>
              <li>(+0024)-877-932-0563</li>
              <li><a href="#" title="">enquiries@andygrammer.com</a></li>
            </ul>
          </div><!--widget-about end-->
        </div>
        <div class="col-lg-4">
          <div class="widget-language">
            <h3>Language</h3>
            <ul>
              <li><a href="#" title="">ENG</a></li>
              <li><a href="#" title="">FRA</a></li>
              <li><a href="#" title="">GER</a></li>
            </ul>
          </div><!--widget-language end-->
        </div>
      </div>
      <p class="text-center copy-tzt">© 2020 <a href="#" title="">Andy Grammer</a>. Design by LoganCee</p>
    </div><!--footer-content-v7 end-->
  </div>
</footer><!--footer-v7 end-->
