<footer class="footer-v3">
  <div class="container">
    <div class="footer-content">
      <div class="ft-logo">
        <img src="assets/img/logo_8.png" alt="">
      </div><!--ft-logo end-->
      <ul class="nav-btm-links">
        <li><a href="25_about_business.html" title="">about</a></li>
        <li><a href="15_portfolio_horizontal_scroll.html" title="">works</a></li>
        <li><a href="27_service_1.html" title="">services</a></li>
        <li><a href="blog-layout1.html" title="">news</a></li>
        <li><a href="30_contact_1.html" title="">contact</a></li>
      </ul><!--nav-btm-links end-->
      <div class="cpy-text">
        <p>© 2020 cris. all rights reserved</p>
      </div>
    </div><!--footer-content end-->
  </div>
  <div class="btm-shape">
    <img src="assets/img/shape2.jpg" alt="">
  </div>
</footer><!--footer-v3 end-->
