<footer class="footer-v9">
  <div class="container">
    <div class="footer-content-v9 row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="widget widget-about">
          <img src="assets/Sienna-logo-dark.png" alt="">
          <h3 class="widget-title">Information</h3>
          <ul>
            <li>
              <span class="wz-icon"><i class="lni lni-map"></i></span>
              <p>National Renewable Energy Laboratory</p>
              <p>15013 Denver West Parkway Golden, CO 80401</p>
            </li>
            <li>
              <span class="wz-icon"><i class="lni lni-envelope"></i></span>
              <p><a href="mailto:sienna@nrel.gov" title="">sienna@nrel.gov</a></p>
            </li>
            <li>
              <span class="wz-icon"><i class="lni lni-phone"></i></span>
              <p>(+1) 303-275-3000</p>
            </li>
          </ul>
        </div><!--widget-about END-->
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="widget widget-links">
          <h3 class="widget-title">company</h3>
          <ul class="wd-links">
            <li><a href="https://www.nrel.gov/analysis/sienna.html" title="">About Us</a></li>
            <li><a href="https://www.nrel.gov/analysis/staff.html" title="">Team</a></li>
            <li><a href="https://www.nrel.gov/careers/find-job.html" title="">Careers</a></li>
            <li><a href="mailto:sienna@nrel.gov" title="">Contact Us</a></li>
          </ul>
        </div><!--widget-links end-->
      </div>
      <div class="col-lg-2 col-md-6 col-sm-6">
        <div class="widget widget-links">
          <h3 class="widget-title">quick links</h3>
          <ul class="wd-links">
            <li><a href="https://join.slack.com/t/nrel-sienna/shared_invite/zt-1lyt10wio-y3yV_yug3F68vLau27gUzA" title="">Help Center</a></li>
            <li><a href="https://github.com/nrel-sienna" title="">Codebase</a></li>
          </ul>
        </div><!--widget-links end-->
      </div>
      <!-- <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="widget widget-newsletter">
          <h3 class="widget-title">Newsletter</h3>
          <p>Subscribe to our newsletter and we will inform you about newset projects and promotions</p>
          <form class="newz-form">
            <span class="input input--makiko">
              <input class="input__field input__field--makiko" type="email" id="input-16"  placeholder="Enter email address...">
              <label class="input__label input__label--makiko">
                <button type="submit" class="input__label-content input__label-content--makiko"><i class="lni lni-envelope"></i></button>
              </label>
            </span>
          </form>
        </div>
      </div> -->
    </div><!--footer-content-v9 end-->
    <div class="row btm-footer">
      <div class="col-lg-4 col-md-6">
        <ul class="social-links">
          <li><a href="#" title=""><i class="fab fa-github"></i></a></li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-6">
        <p class="cp-txt">© 2024 National Renewable Energy Laboratory. All Rights Reserved</p>
      </div>
      <div class="col-lg-4">
      </div>
    </div><!--bottom-footer end-->
  </div>
</footer><!--footer end-->
