<footer class="footer-v5">
  <div class="container">
    <div class="mile-top-footer">
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="widget widget-about">
            <h2>When I was young, I lived like an old woman, and when I've got old, I had to live like a young person</h2>
            <div class="wid-newslettter">
              <h4>Newsletter</h4>
              <form>
                <input type="text" name="email" placeholder="Enter email address...">
                <button type="submit"><i class="lni lni-envelope"></i> Subscribe</button>
              </form>
            </div><!--wid-newslettter end-->
          </div><!--widget-about end-->
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="widget widget-tags">
            <h3 class="widget-title">popular tags</h3>
            <ul>
              <li><a href="#" title="">#wordpress </a></li>
              <li><a href="#" title="">#theme</a></li>
              <li><a href="#" title="">#psd</a></li>
              <li><a href="#" title="">#idea</a></li>
              <li><a href="#" title="">#inspiration </a></li>
              <li><a href="#" title="">#trending </a></li>
              <li><a href="#" title="">#lifestyle </a></li>
              <li><a href="#" title="">#design </a></li>
            </ul>
          </div><!--widget-tags end-->
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="widget widget-contact">
            <h3 class="widget-title">get in touch</h3>
            <h2>116 Fairground Rd, FL 32904, USA <a href="mailto:example@example.com" title="">hello@justina.com</a></h2>
            <ul>
              <li><a href="25_about_business.html" title="">About</a></li>
              <li><a href="#" title="">Travel</a></li>
              <li><a href="#" title="">Lifestyle</a></li>
              <li><a href="#" title="">Design</a></li>
              <li><a href="30_contact_1.html" title="">Contact</a></li>
            </ul>
          </div><!--widget-contact end-->
        </div>
      </div>
    </div><!--mile-top-footer end-->
    <div class="mile-bottom-footer">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="btm-copy">
            <img src="assets/img/logo_2.png" alt="">
            <p>© 2022. All Rights Reserved</p>
          </div><!--btm-copy end-->
        </div>
        <div class="col-lg-6">
          <ul class="social-header">
            <li><a href="#" title=""><i class="lni lni-twitter-original"></i></a></li>
            <li><a href="#" title=""><i class="lni lni-facebook-filled"></i></a></li>
            <li><a href="#" title=""><i class="lni lni-instagram-original"></i></a></li>
            <li><a href="#" title=""><i class="lni lni-pinterest"></i></a></li>
            <li><a href="#" title=""><i class="lni lni-youtube"></i></a></li>
          </ul><!--social-header end-->
        </div>
      </div>
    </div><!--mile-bottom-footer end-->
  </div>
</footer><!--footer-v5 end-->
