<section class="partners-sec-v2">
  {% assign partners = page.partners %}
  <div class="container">
    <div class="section-title-v2 w-100">
      <h2>{{ partners.title }}</h2>
    </div>
    <!--section-title-v2 end-->
    <div class="partner-row1">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <p>
            <h2>{{ partners.content }}</h2>
          </p>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="mile-quote wow fadeInUp">
            <p>
              “{{ partners.quote }}”
            </p>
            <h4>— {{ partners.name }}, <span>{{ partners.company }}</span></h4>
          </div>
          <!--mile-quote end-->
        </div>
      </div>
      <ul class="pt-list">

        {% for logo in site.data.clients.clients-v2 %}
        <li>
          <a href="{{ logo.link }}" title=""
            ><img src="{{ logo.image}}" alt=""
          /></a>
        </li>
        {% endfor %}
      </ul>
      <!--pt-list end-->
    </div>
    <!--partner-row1 end-->
  </div>
</section>
<!--partners-sec end-->
