<section class="ag-partners">
  <div class="container">
    <div
      class="ag-title wow fadeInUp"
      data-wow-duration="1000ms"
      data-wow-delay="0ms"
    >
      <h3>Our Partners</h3>
    </div>
    <!--ag-title end-->
    <div class="pt-logos d-flex flex-wrap align-items-center">
      {% for partner in site.data.clients.clients-v5 %}
      <div class="pt-logo">
        <a href="{{partner.link}}" title="">
          <img src="{{partner.image}}" alt="" />
        </a>
      </div>
      <!--pt-logo end-->
      {% endfor %}
    </div>
  </div>
</section>
<!--ag-partners end-->
