<section class="partners-v8-sec">
  <div class="container">
    {% assign partners = page.partners %}
    <div
      class="title-v8 text-center wow fadeInUp"
      data-wow-duration="1000ms"
      data-wow-delay="0ms"
    >
      <h2>{{ partners.title}}</h2>
      <p class="mw-100">{{ partners.content}}</p>
    </div>
    <!--title-v8 end-->
    <div class="pt-logos-v8 row">
      {% assign client = partners.client %}
      <!---->
      {% for client in site.data.clients.clients-v1 %}
      <div class="col-lg-2">
        <div class="pt-logo-v8">
          <img src="{{ client.image}}" alt="" />
        </div>
        <!--pt-logo-v8 end-->
      </div>
      {% endfor %}
    </div>
    <!--pt-logos-v8 end-->
  </div>
</section>
