<section class="clients-sec-v3 pb-0">
  <div class="container">
    <div
      class="section-title-v3 wow fadeInUp"
      data-wow-duration="1000ms"
      data-wow-delay="0ms"
    >
    {% assign client = page.clients %}
      <h2>{{client.title}}</h2>
      <span
        >{{client.content}}</span
      >
    </div>
    <!--section-title end-->
    <div class="client-works">
      <div class="col-m-2">
        <div class="cl-imag">
          <img src="/assets/img/cl1.png" alt="" />
        </div>
      </div>
      <div class="col-m-2">
        <div class="cl-imag">
          <img src="/assets/img/cl2.png" alt="" />
        </div>
      </div>
      <div class="col-m-2">
        <div class="cl-imag">
          <img src="/assets/img/cl3.png" alt="" />
        </div>
      </div>
      <div class="col-m-2">
        <div class="cl-imag">
          <img src="/assets/img/cl4.png" alt="" />
        </div>
      </div>
      <div class="col-m-2">
        <div class="cl-imag">
          <img src="/assets/img/cl5.png" alt="" />
        </div>
      </div>
    </div>
    <ul
      class="counter-sec border-bottom wow fadeInUp"
      id="counter"
      data-wow-duration="1000ms"
      data-wow-delay="0ms"
    >
      <li>
        <div class="count-dv">
          <h2 class="count">10</h2>
          <span>Years Experience</span>
        </div>
      </li>
      <li>
        <div class="count-dv">
          <h2 class="count">102</h2>
          <span>Satisfaction Clients</span>
        </div>
      </li>
      <li>
        <div class="count-dv">
          <h2 class="count">285</h2>
          <span
            >Projects Completed On <br />
            34 Countries</span
          >
        </div>
      </li>
    </ul>
    <!--counter-sec end-->
  </div>
</section>
