<div class="col-lg-4 col-md-6 col-sm-6">
	<div class="post-v10">
		<div class="post-thumb">
			<img src="{{post.layout_image}}" alt="" class="w-100">
		</div>
    {% assign cat_size = post.categories | size %}
    {% if cat_size != 0 %}
		<div class="post-info">
      {% assign last_cat = post.categories | last %}
      {% for cat_name in post.categories %}
        {% assign cat_slug = cat_name | slugify  %}
        {% if cat_name != last_cat %}
			<span class="category">{{cat_name}}</span>
      {% endif %}
    {% endfor %}
			<h2><a href="{{post.url}}" title="">{{post.title}}</a></h2>
      {% endif %}
			<p>{{ post.description }}</p>
			<span class="posted-on">{{ post.date | date: '%B %d, %Y' }}, by  <a href="#" title="">{{post.author_name}}</a></span>
		</div>
	</div><!--post-v10 end-->
</div>
