<div class="responsive-menu">
  <div class="rep-header">
    <div class="rep-logo">
      <img src="/assets/img/logo2.png" alt="" />
    </div>
    <a href="#" title="" class="close-menu"><i class="lni lni-close"></i></a>
  </div>
  <div class="search-box">
    <form>
      <input type="text" name="search" placeholder="Search" />
      <button type="submit"><i class="lni lni-search-alt"></i></button>
    </form>
  </div>
  <ul class="mobile-menu">
    {% for item in site.data.navigation-menu.sidemenu.toc %}
    <li>
      <a href="#" title="{{ item.title }}">{{ item.title }}</a>
      <ul>
        {% for entry in item.subfolderitems %}
        <li>
          <a
            href="{{ entry.url }}"
            class="animsition-link {% if entry.url == page.url %}active{% endif %}"
            data-animsition-out-class="fade-out"
            title="{{ entry.page }}"
            data-text="{{ entry.page }}"
            >{{ entry.page }}</a
          >
        </li>
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
</div>
