<section class="section pp-scrollable" id="testimonial">
  <div class="slide-container">
    <div class="testimonial-v4-sec p-0">
      <div class="container">
        <div class="sec-head">
          <h2>Testimonials</h2>
          <span>What’s clients say about me</span>
        </div>
        <!--sec-head end-->
        <div class="cl-slider-v4">
          {% for testimonials in site.data.testimonials.testimonials-v3 %}
          <div class="cl-slide">
            <ul class="rating">
              {% for i in (1..testimonials.rating) %}
              <li><i class="lni lni-star-filled"></i></li>
              {% endfor %}
            </ul>
            <span>{{ testimonials.rating}}.0 Rating</span>
            <p>{{ testimonials.content}}</p>
          </div>
          {% endfor %}
          <!--cl-slide end-->
        </div>
        <!--cl-slider-v4 end-->
        <div class="cl-slide-thumbs">
          {% for testimonials in site.data.testimonials.testimonials-v3 %}
          <div class="cli-thumb">
            <img src="{{ testimonials.image}}" alt="" />
            <div class="col-info">
              <h3>{{ testimonials.name}}</h3>
              <span
                >{{ testimonials.position}},
                <strong>{{ testimonials.company}}.</strong></span
              >
            </div>
          </div>
          {% endfor %}
        </div>
        <!--cl-slide-thumbs end-->
      </div>
    </div>
    <!--testimonial-v4-sec end-->
  </div>
</section>
