---
layout: default
title: "OUR JOURNAL"
description: "Writing is socially acceptable from of schizophrenia"
pagination:
  enabled:
    true
---
<section class="page-content">
  <div class="container">
    <div class="page-sec-title text-center">
      <span>our journal</span>
      <h2>Writing is socially acceptable from of schizophrenia</h2>
    </div><!--page-sec-title end-->
    <div class="blog-posts-v10 blog-layout1 row">
      {% for post in site.posts limit:3 %}
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="post-v10">
          <div class="post-thumb">
            <img src="{{post.layout_image}}" alt="" class="w-100">
          </div>
          <div class="post-info">
            <span class="category">{{post.categories}}</span>
            <h2><a href="{{post.url}}" title="">{{post.title}}</a></h2>
            <p>{{post.description}}</p>
            <span class="posted-on">{{post.date}}, by  <a href="#" title="">{{post.author_name}}</a></span>
          </div>
        </div><!--post-v10 end-->
      </div>
      {% endfor %}
    </div><!--blog-posts end-->
    <div class="mile_pagination">
    					<nav>
    						<ul class="pagination">
    					    	<li class="page-item prev">
    					      		<a class="page-link" href="{{ paginator.previous_page_path }}" tabindex="-1">Prev</a>
    					    	</li>
    								{% for page in (1..paginator.total_pages) %}
    								{% if page == paginator.page %}
    					    	<li class="page-item"><a class="page-link" href="#!">{{ page }}</a></li>
    								{% else %}
    					    	<li class="page-item active">
    					      		<a class="page-link" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }} <span class="sr-only">(current)</span></a>
    					    	</li>
                    {% endif %}
                    {% endfor %}
                    <li class="page-item next">
    					      		<a class="page-link" href="{{ paginator.next_page_path }}">Next</a>
    					    	</li>
    					  	</ul>
    					</nav>
    </div>
  </div>
</section><!--page-content end-->
