<header class="header-v8 v9">
  <div class="container">
    <div class="header-content-v8">
      <div class="logo-v8">
        <a href="#" title="">
          <img src="{{site.data.settings.logo_home_businessconsulting}}" alt="">
        </a>
      </div>
      <!--logo-v8 end-->
      <nav>
        <ul>
          {% for item in site.data.navigation-menu.secondary.toc %}
          <li>
            <a href="#" title="">{{ item.title }}</a>
            <ul>
              {% for entry in item.subfolderitems %}
              <li>
                <a
                  href="{{ entry.url }}"
                  title="{{ entry.page }}"
                  class="{% if item.url == page.url %}active{% endif %}"
                  >{{ entry.page }}</a
                >
              </li>
              {% endfor %}
            </ul>
          </li>
          {% endfor %}
        </ul>
      </nav>
      <!--nav end-->
      <a href="javascript:void(Tawk_API.toggle())" title="" class="chat-btn">Let’s chat! <i class="lni lni-comments-reply"></i></a>
      <button class="nav-toggle-btn a-nav-toggle">
        <span class="nav-toggle nav-toggle-sm">
          <span class="stick stick-1"></span>
          <span class="stick stick-2"></span>
          <span class="stick stick-3"></span>
        </span>
      </button>
    </div>
    <!--header-content-v8 end-->
  </div>
</header>
{% include sidemenu.html %}
