<header class="header-v3">
  <div class="container">
    <div class="header-content d-flex flex-wrap">
      <div class="logo">
        <a href="#" title=""><img src="{{site.data.settings.logo_home_freelancer}}" alt="" /></a>
      </div>
      <!--logo end-->
      <div class="head-cat">
        <span>art direction <br />design</span>
      </div>
      <!--head-cat end-->
      <ul class="hd-links">
        <li>Call me. (+706) 898-0751</li>
        <li>info@crisdesign.co</li>
      </ul>
      <button class="nav-toggle-btn a-nav-toggle">
        <span class="nav-toggle nav-toggle-sm">
          <span class="stick stick-1"></span>
          <span class="stick stick-2"></span>
          <span class="stick stick-3"></span>
        </span>
      </button>
    </div>
    <!--header-contente end-->
  </div>
</header>

{% include sidemenu.html %}
