<header>
  <div class="container-fluid">
    <div class="header-content d-flex flex-wrap align-items-center">
      <div class="logo">
        <a href="#" title=""><img src="/assets/img/logo2.png" alt="" /></a>
      </div>
      <!--logo end-->
      <div class="mile-right ms-auto">
        <button class="nav-toggle-btn a-nav-toggle ms-auto">
          <span class="nav-toggle-title">Menu</span>
          <span class="nav-toggle nav-toggle-sm">
            <span class="stick stick-1"></span>
            <span class="stick stick-2"></span>
            <span class="stick stick-3"></span>
          </span>
        </button>
        <a href="javascript:void(Tawk_API.toggle())" title="" class="btn-default no-bg"
          >Let’s talk<i class="lni lni-comments"></i
        ></a>
      </div>
      <!--mile-right end-->
    </div>
    <!--header-content end-->
  </div>
</header>
<!--header end-->
{% include sidemenu.html %}
