<header class="pb">
  <div class="container-fluid">
    <div class="header-content d-flex flex-wrap align-items-center">
      <div class="logo">
        <a href="#" title=""><img src="/assets/img/logo2.png" alt="" /></a>
      </div>
      <!--logo end-->
      <div class="mile-right ms-auto">
        <a href="javascript:void(Tawk_API.toggle())" title="" class="btn-default white-bg box-shadow-none"
          >Let’s talk<i class="lni lni-comments"></i
        ></a>
      </div>
      <!--mile-right end-->
    </div>
    <!--header-content end-->
  </div>
</header>
