<header class="header-v12 v13 pb active">
  <div class="container">
    <div class="header-content">
      <div class="logo">
        <a href="/" title="" class="light-logo"
          ><img src="{{site.data.settings.logo_portfolio}}" alt=""
        /></a>
      </div>
      <!--logo end-->
      <button class="nav-toggle-btn a-nav-toggle ms-auto white">
        <span class="nav-toggle-title">Menu</span>
        <span class="nav-toggle nav-toggle-sm">
          <span class="stick stick-1"></span>
          <span class="stick stick-2"></span>
          <span class="stick stick-3"></span>
        </span>
      </button>
    </div>
    <!--header-content end-->
  </div>
</header>
{% include sidemenu.html %}
