<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    <div class="wrapper">
      {% include header/portfolio-v2.html %}
      <section class="pf-single-layout-2">
        <div class="container-fluid p-0">
          <div class="pft-slider">
            <div class="pft-slide">
              <div class="row">
                <div class="col-lg-6">
                  <div class="pft-details">
                    <div class="pft-txt">
                      <h2>Bamboo Soap</h2>
                      <p>
                        A dynamic co-working space attracting entrepreneurs,
                        tinkerers, and creatives
                      </p>
                      <div class="pft-task">
                        <h3>task</h3>
                        <p>
                          Rebuild a unified visual system for the advertising
                          agency, made of steel which can change the world in a
                          while.
                        </p>
                      </div>
                      <ul class="pp-list">
                        <li>
                          <h3>client</h3>
                          <span>P&G Singapore Ltd</span>
                        </li>
                        <li>
                          <h3>category</h3>
                          <span>Branding, Motion</span>
                        </li>
                        <li>
                          <h3>site</h3>
                          <span>www.bamboosoap.com</span>
                        </li>
                      </ul>
                      <ul class="scl-links">
                        <li>
                          <a href="#" title=""
                            ><i class="fab fa-twitter"></i
                          ></a>
                        </li>
                        <li>
                          <a href="#" title=""
                            ><i class="fab fa-facebook-f"></i
                          ></a>
                        </li>
                        <li>
                          <a href="#" title=""
                            ><i class="fab fa-google-plus-g"></i
                          ></a>
                        </li>
                      </ul>
                      <!--social-links end-->
                    </div>
                    <!--pft-txt end-->
                  </div>
                  <!--pft-details end-->
                </div>
                <div class="col-lg-6">
                  <div class="pft-img">
                    <img src="/assets/img/pft1.jpg" alt="" class="w-100" />
                  </div>
                  <!--pft-img end-->
                </div>
              </div>
            </div>
            <!--pft-slide end-->
            <div class="pft-slide">
              <div class="row">
                <div class="col-lg-6">
                  <div class="pft-details">
                    <div class="pft-txt">
                      <h2>Bamboo Soap</h2>
                      <p>
                        A dynamic co-working space attracting entrepreneurs,
                        tinkerers, and creatives
                      </p>
                      <div class="pft-task">
                        <h3>task</h3>
                        <p>
                          Rebuild a unified visual system for the advertising
                          agency, made of steel which can change the world in a
                          while.
                        </p>
                      </div>
                      <ul class="pp-list">
                        <li>
                          <h3>client</h3>
                          <span>P&G Singapore Ltd</span>
                        </li>
                        <li>
                          <h3>category</h3>
                          <span>Branding, Motion</span>
                        </li>
                        <li>
                          <h3>site</h3>
                          <span>www.bamboosoap.com</span>
                        </li>
                      </ul>
                      <ul class="scl-links">
                        <li>
                          <a href="#" title=""
                            ><i class="fab fa-twitter"></i
                          ></a>
                        </li>
                        <li>
                          <a href="#" title=""
                            ><i class="fab fa-facebook-f"></i
                          ></a>
                        </li>
                        <li>
                          <a href="#" title=""
                            ><i class="fab fa-google-plus-g"></i
                          ></a>
                        </li>
                      </ul>
                      <!--social-links end-->
                    </div>
                    <!--pft-txt end-->
                  </div>
                  <!--pft-details end-->
                </div>
                <div class="col-lg-6">
                  <div class="pft-img">
                    <img src="/assets/img/pft2.jpg" alt="" class="w-100" />
                  </div>
                  <!--pft-img end-->
                </div>
              </div>
            </div>
            <!--pft-slide end-->
            <div class="pft-slide">
              <div class="row">
                <div class="col-lg-6">
                  <div class="pft-details">
                    <div class="pft-txt">
                      <h2>Bamboo Soap</h2>
                      <p>
                        A dynamic co-working space attracting entrepreneurs,
                        tinkerers, and creatives
                      </p>
                      <div class="pft-task">
                        <h3>task</h3>
                        <p>
                          Rebuild a unified visual system for the advertising
                          agency, made of steel which can change the world in a
                          while.
                        </p>
                      </div>
                      <ul class="pp-list">
                        <li>
                          <h3>client</h3>
                          <span>P&G Singapore Ltd</span>
                        </li>
                        <li>
                          <h3>category</h3>
                          <span>Branding, Motion</span>
                        </li>
                        <li>
                          <h3>site</h3>
                          <span>www.bamboosoap.com</span>
                        </li>
                      </ul>
                      <ul class="scl-links">
                        <li>
                          <a href="#" title=""
                            ><i class="fab fa-twitter"></i
                          ></a>
                        </li>
                        <li>
                          <a href="#" title=""
                            ><i class="fab fa-facebook-f"></i
                          ></a>
                        </li>
                        <li>
                          <a href="#" title=""
                            ><i class="fab fa-google-plus-g"></i
                          ></a>
                        </li>
                      </ul>
                      <!--social-links end-->
                    </div>
                    <!--pft-txt end-->
                  </div>
                  <!--pft-details end-->
                </div>
                <div class="col-lg-6">
                  <div class="pft-img">
                    <img src="/assets/img/pft3.jpg" alt="" class="w-100" />
                  </div>
                  <!--pft-img end-->
                </div>
              </div>
            </div>
            <!--pft-slide end-->
          </div>
          <!--pft-slider end-->
        </div>
      </section>
      <!--pf-single-layout-2 end-->

      <section class="contact-sec pf-single">
        <div class="container">
          <div class="sec-title v2 text-center">
            <h2>Ready to get started</h2>
            <span>Ask away! we will response within 24 hours</span>
          </div>
          <!--sec-title end-->
          <form class="contact-form">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <input
                    type="text"
                    class="form--control"
                    id="name"
                    name="name"
                    placeholder=""
                  />
                  <label for="name">Full Name</label>
                </div>
                <!--form-group end-->
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <input
                    type="text"
                    class="form--control"
                    id="email"
                    name="email"
                    placeholder=""
                  />
                  <label for="email">Email Address <span>*</span></label>
                </div>
                <!--form-group end-->
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <input
                    type="text"
                    class="form--control"
                    id="subject"
                    name="subject"
                    placeholder=""
                  />
                  <label for="subject">Subject</label>
                </div>
                <!--form-group end-->
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <textarea class="form--control" id="message"></textarea>
                  <label for="message">Your message here</label>
                </div>
                <!--form-group end-->
              </div>
              <div class="col-md-12">
                <div class="form-group text-center m-0">
                  <button type="submit" class="btn-default no-bg">
                    Send Message
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </section>

      {% include footer/portfolio-v2.html %}
    </div>
    <!--wrapper end-->

    <script src="/assets/js/bundle.min.js"></script>
  </body>
</html>
