<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    <div class="wrapper bg-2">
      {% include header/portfolio-v3.html %}
      <section class="pf-single-layout3">
        <div class="pf-head-v3">
          <div class="container">
            <div
              class="pf-head-content-v3 text-center wow fadeInUp"
              data-wow-duration="1000ms"
              data-wow-delay="0ms"
            >
              <h2>Fodo Rebrand</h2>
              <ul class="prp-list">
                <li>
                  <h3>client</h3>
                  <span>Fodo Pouch Ltd</span>
                </li>
                <li>
                  <h3>services</h3>
                  <span>Branding, Motion</span>
                </li>
                <li>
                  <h3>date</h3>
                  <span>December 25th, 2020</span>
                </li>
                <li>
                  <h3>team</h3>
                  <span>Luka Modric - Designer</span>
                </li>
              </ul>
            </div>
            <!--pf-head-content-v3 end-->
          </div>
        </div>
        <!--pf-head-v3 end-->
        <div class="pf-banner-v3">
          <img src="/assets/img/pf-banner2.png" alt="" />
        </div>
        <!--pf-banner-v3 end-->
        <div class="container">
          <div
            class="txt-content v2 text-center border-bottom wow fadeInUp"
            data-wow-duration="1000ms"
            data-wow-delay="0ms"
          >
            <p>
              Byzano nestled right into our wheelhouse. A dynamic co-working
              space attracting entrepreneurs, tinkerers, and creatives in the
              tech hub of Ann Arbor, Michigan, they wanted a lifestyle brand—a
              complete ecosystem of brand visuals and assets that could be worn,
              posted, shared.
            </p>
          </div>
        </div>
      </section>
      <!--pf-single-layout3 end-->

      <section class="chal-sec-v3">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="mv-title">
                <span>challenge</span>
                <h2>
                  Best finance app professional &amp; friendly for all people.
                </h2>
              </div>
              <!--mv-title end-->
            </div>
            <div class="col-lg-6">
              <div class="mv-para">
                <p>
                  <strong>Miles Studio</strong> believes a team of creatives who
                  are excited about unique ideas and help digital and fin-tech
                  companies. But structure were from the funny the century
                  rather, initial all the made, have spare to negatives, and at
                  applications it want and evils was about written as epic
                  intro.
                </p>
              </div>
              <!--mv-para end-->
            </div>
          </div>
        </div>
        <div class="pl-v3-slider-sec">
          <div class="row pl-v3-slider">
            <div class="col-lg-4">
              <div class="pf-slide-v3">
                <img src="/assets/img/pf-img1.jpg" alt="" />
              </div>
              <!--pf-slide-v3 end-->
            </div>
            <div class="col-lg-4">
              <div class="pf-slide-v3">
                <img src="/assets/img/pf-img2.jpg" alt="" />
              </div>
              <!--pf-slide-v3 end-->
            </div>
            <div class="col-lg-4">
              <div class="pf-slide-v3">
                <img src="/assets/img/pf-img3.jpg" alt="" />
              </div>
              <!--pf-slide-v3 end-->
            </div>
            <div class="col-lg-4">
              <div class="pf-slide-v3">
                <img src="/assets/img/pf-img1.jpg" alt="" />
              </div>
              <!--pf-slide-v3 end-->
            </div>
            <div class="col-lg-4">
              <div class="pf-slide-v3">
                <img src="/assets/img/pf-img2.jpg" alt="" />
              </div>
              <!--pf-slide-v3 end-->
            </div>
            <div class="col-lg-4">
              <div class="pf-slide-v3">
                <img src="/assets/img/pf-img3.jpg" alt="" />
              </div>
              <!--pf-slide-v3 end-->
            </div>
          </div>
        </div>
        <!--pl-v3-slider end-->
      </section>
      <!--chal-sec-v3 end-->

      <section class="vd-frame-sec">
        <div class="container">
          <div
            class="ms-title text-center wow fadeInUp"
            data-wow-duration="1000ms"
            data-wow-delay="0ms"
          >
            <h2>
              No matter how you slice it, she likes what she´s seen so far, and
              she’s willing to give you a chance.
            </h2>
          </div>
          <!--ms-title end-->
          <div class="yt-frame">
            <iframe
              src="https://www.youtube.com/embed/DBXH9jJRaDk?autoplay=0&fs=1&iv_load_policy=3&showinfo=0&rel=0&cc_load_policy=0&start=0&end=0&origin=https://youtubeembedcode.com"
            ></iframe>
          </div>
          <!--yt-frame end-->
        </div>
      </section>
      <!--vd-frame-sec end-->

      <section class="post-control-sec">
        <div class="container">
          <h2
            class="text-center wow fadeInUp"
            data-wow-duration="1000ms"
            data-wow-delay="0ms"
          >
            Bdash UI Dashboard
          </h2>
          <div class="avl-btm">
            <div class="row align-items-center">
              <div class="col-md-6">
                <div class="shareon">
                  <h3>Share:</h3>
                  <ul>
                    <li>
                      <a href="#" title=""><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#" title=""><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                      <a href="#" title=""
                        ><i class="fab fa-google-plus-g"></i
                      ></a>
                    </li>
                    <li>
                      <a href="#" title=""><i class="fab fa-tumblr"></i></a>
                    </li>
                    <li>
                      <a href="#" title=""><i class="fa fa-rss"></i></a>
                    </li>
                  </ul>
                </div>
                <!--shareon end-->
              </div>
              <div class="col-md-6">
                <div class="liked-dv">
                  <span class="liked"
                    ><i class="lni lni-heart-filled"></i
                  ></span>
                  <span>18 Liked</span>
                </div>
                <!--liked-dv end-->
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--post-control-sec end-->

      {% include footer/portfolio-v3.html %}
    </div>
    <!--wrapper end-->

    <script src="/assets/js/bundle.min.js"></script>
  </body>
</html>
