<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    <div class="wrapper">
      {% include header/about-me.html %}
      <section class="about_me_sec">
        <div class="container">
          <div class="about_me_content">
            <div
              class="about_txt wow fadeInLeft"
              data-wow-duration="1000ms"
              data-wow-delay="0ms"
            >
              <span
                >interaction & visual <br />
                product.</span
              >
              <h2>Hello! I’m Milles Raymond. Interactive Designer</h2>
              <p>
                I’m Miles Raymond, a freelance Interaction & Visual Product
                Designer based in Toronto, Canada. “Design is thinking made
                visual”.
              </p>
              <a href="#about-section" title="" class="arrow-down">
                <svg id="more-arrows">
                  <polygon
                    class="arrow-top"
                    points="37.6,27.9 1.8,1.3 3.3,0 37.6,25.3 71.9,0 73.7,1.3 "
                  />
                  <polygon
                    class="arrow-middle"
                    points="37.6,45.8 0.8,18.7 4.4,16.4 37.6,41.2 71.2,16.4 74.5,18.7 "
                  />
                </svg>
              </a>
            </div>
            <div
              class="about_img wow fadeInUp"
              data-wow-duration="1000ms"
              data-wow-delay="0ms"
            >
              <img src="/assets/img/about_img.png" alt="" />
            </div>
          </div>
          <!--about_me_content end-->
        </div>
      </section>
      <!--about_me_sec end-->

      <section class="about_v1_sec" id="about-section">
        <div class="container">
          <div class="about_v1_content">
            <p>
              <span>Miles Raymond</span> is a designer from Toronto, Canada.
              <br />He works in his little studio-home for galleries around the
              world. His work has been featured in the most important galleries
              in the five continents. Also, Miles is one of the most
              recognizable painters in our time.
            </p>
            <h4>Doing great since 2011 from Canada</h4>
          </div>
          <!--about_v1_sec end-->
          <div class="resume_details">
            <div class="resume_mile row">
              <div class="col-lg-5">
                <h3 class="rs-heading">service</h3>
              </div>
              <div class="col-lg-7">
                <div class="rs_info">
                  <p>
                    It's time to bring it all together. Nothing is more
                    rewarding for me than making great work for clients with
                    meaningful missions.
                  </p>
                  <div class="row">
                    <div class="col-md-4">
                      <ul class="lniks">
                        <li>Logo Design</li>
                        <li>Brand Guide</li>
                        <li>Package Design</li>
                        <li>Poster design</li>
                      </ul>
                    </div>
                    <div class="col-md-4">
                      <ul class="lniks">
                        <li>Flayer design</li>
                        <li>Advertising</li>
                        <li>Web design</li>
                        <li>web advertising</li>
                      </ul>
                    </div>
                    <div class="col-md-4">
                      <ul class="lniks">
                        <li>Icon design</li>
                        <li>Illustration</li>
                        <li>Photography</li>
                        <li>Seo</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <!--rs_info end-->
              </div>
            </div>
            <!--resume_mile end-->
            <div class="resume_mile row">
              <div class="col-lg-5">
                <h3 class="rs-heading">edu & career</h3>
              </div>
              <div class="col-lg-7">
                <div class="rs_info">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="edu-exp border-top">
                        <h3>Education</h3>
                        <ul>
                          <li>
                            <div class="edu-knw">
                              <h3>
                                Graduated with Graphic Design at California of
                                Art university, USA
                              </h3>
                              <span>2007-2010</span>
                            </div>
                            <!--edu-knw end-->
                          </li>
                          <li>
                            <div class="edu-knw">
                              <h3>Bachelor of Multi-Meida University in UK</h3>
                              <span>2011-2014</span>
                            </div>
                            <!--edu-knw end-->
                          </li>
                        </ul>
                      </div>
                      <!--edu-exp end-->
                    </div>
                    <div class="col-md-6">
                      <div class="exp-div border-top">
                        <h3>Experience</h3>
                        <ul>
                          <li>
                            <h4>Art Director</h4>
                            <span
                              ><b class="red">Invision Inc</b>,
                              2018-Current</span
                            >
                          </li>
                          <li>
                            <h4>Senior Visual Product</h4>
                            <span><b class="black">Apple</b>, 2016-2017</span>
                          </li>
                          <li>
                            <h4>Leader UI/UX Product Designer</h4>
                            <span><b class="green">Spotiy</b>, 2015-2016</span>
                          </li>
                          <li>
                            <h4>Intership Graphic Designer</h4>
                            <span><b class="fb">Facebook</b>, 2012-2015</span>
                          </li>
                        </ul>
                      </div>
                      <!--edu-exp end-->
                    </div>
                  </div>
                </div>
                <!--rs_info end-->
              </div>
            </div>
            <!--resume_mile end-->
            <div class="resume_mile row">
              <div class="col-lg-5">
                <h3 class="rs-heading">my pride</h3>
              </div>
              <div class="col-lg-7">
                <div class="awrds-info">
                  <p>
                    It's always good to receive positive and constructive
                    feedback for your work - from clients and moreover, from
                    designers!
                  </p>
                  <ul>
                    <li>
                      <span class="year">2019</span>
                      <img src="/assets/img/awd4.png" alt="" />
                      <h3>Featured Portfolio Websites</h3>
                    </li>
                    <li>
                      <span class="year">2018</span>
                      <img src="/assets/img/awd5.png" alt="" />
                      <h3>Top 10 Design</h3>
                    </li>
                    <li>
                      <span class="year">2017</span>
                      <img src="/assets/img/awd6.png" alt="" />
                      <h3>Website Inspiration</h3>
                    </li>
                    <li>
                      <span class="year">2017</span>
                      <img src="/assets/img/awd7.png" alt="" />
                      <h3>Creative Things</h3>
                    </li>
                  </ul>
                </div>
                <!--awrds-info end-->
              </div>
            </div>
            <!--resume_mile end-->
          </div>
          <!--resume_details end-->
        </div>
      </section>
      <!--about_v1_sec end-->

      <section class="testi_about_v1">
        <div class="container">
          <div class="testi-v-sec">
            <div class="row">
              <div class="col-lg-3">
                <div class="tv-col">
                  <div class="tv-col-thumb">
                    <img src="/assets/img/rv1.png" alt="" />
                  </div>
                  <div class="tv-col-info">
                    <h3>Enesto Valverde</h3>
                    <span>Director of <i>byzano.co</i></span>
                  </div>
                </div>
                <!--tv-col end-->
              </div>
              <div class="col-lg-9">
                <div class="testi-content">
                  <p>
                    “Originally, creative & with an innate understand of their
                    customer’s need. Miles Raymond are always a pleasure to work
                    !”
                  </p>
                </div>
                <!--testi-content end-->
              </div>
            </div>
          </div>
          <!--testi-v-sec end-->
          <div class="lets-sec">
            <div
              class="lets-content text-center wow fadeInUp"
              data-wow-duration="1000ms"
              data-wow-delay="0ms"
            >
              <h2>
                Let’s make something amazing together
                <strong
                  >Start by
                  <a href="30_contact_1.html" title="">saying hi</a></strong
                >
              </h2>
            </div>
            <!--lets-content end-->
          </div>
        </div>
      </section>
      <!--testi_about_v1 end-->
      {% include footer/footer-team.html %}
    </div>
    <!--wrapper end-->

    <script src="/assets/js/bundle.min.js"></script>
  </body>
</html>
