<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    <div class="wrapper">
      {% include header/header-default.html %}

      <section class="career-page">
        <div class="container">
          <div class="sv-title v2 text-center">
            <span>{{page.title}}</span>
            <h2>{{page.tagline}}</h2>
          </div>
          <!--sv-title end-->
          <div class="options">
            <div class="option-isotop">
              <ul
                id="filter"
                class="option-set filters-nav text-center"
                data-option-key="filter"
              >
                <li><a data-option-value="*" class="selected">All Jobs </a></li>
                <li><a data-option-value=".full_time">Full Time</a></li>
                <li><a data-option-value=".part_time">Part Time</a></li>
                <li><a data-option-value=".remote">Remote</a></li>
                <li><a data-option-value=".internship">Internship</a></li>
              </ul>
            </div>
          </div>
          <!--options end-->
          <div class="row ms-row">
            <div class="masonary">
              {% for jobs in site.career %}
              <div class="col-lg-6 col-md-6 col-sm-6 {{jobs.class}}">
                <div class="career-item">
                  <div class="career-thumb">
                    <img src="{{jobs.thumb}}" alt="" class="w-100" />
                  </div>
                  <div class="career-info">
                    <h2>
                      <a href="{{jobs.url}}" title=""
                        >{{jobs.title}}</a
                      >
                    </h2>
                    <p>
                      {{jobs.description}}
                    </p>
                    <span>{{jobs.tags}}</span>
                  </div>
                </div>
                <!--career-item end-->
              </div>
              {% endfor %}
            </div>
            <!--masonary end-->
          </div>
        </div>
      </section>
      <!--career-page end-->

      <footer>
        <div class="top-footer">
          <div class="container">
            <div class="footer-content">
              <div class="row">
                <div class="col-lg-6 col-md-6">
                  <div
                    class="ft-text wow fadeInUp"
                    data-wow-duration="1000ms"
                    data-wow-delay="0ms"
                  >
                    <p>
                      We are a close team of creative professionals based out of
                      Savannah, Georgia. We are passionate about partnering &
                      organizations to provide exceptional solutions.
                    </p>
                    <div class="ft-form">
                      <h4>Subscribe our newsletter for news update</h4>
                      <form>
                        <span class="input input--makiko">
                          <input
                            class="input__field input__field--makiko"
                            type="email"
                            id="input-16"
                            placeholder="Enter email address..."
                          />
                          <label class="input__label input__label--makiko">
                            <button
                              type="submit"
                              class="input__label-content input__label-content--makiko"
                            >
                              subscribe <i class="lni lni-chevron-right"></i>
                            </button>
                          </label>
                        </span>
                      </form>
                    </div>
                    <!--ft-form end-->
                  </div>
                  <!--ft-text end-->
                </div>
                <div class="col-lg-6 col-md-6">
                  <div
                    class="get-touch-txt wow fadeInRight"
                    data-wow-duration="1000ms"
                    data-wow-delay="0ms"
                  >
                    <span>get in touch</span>
                    <h3>
                      116 Fairground Rd, FL 32904, USA
                      <a href="#" title="">hello@miles.co</a>
                    </h3>
                    <ul>
                      <li><a href="/26_about_me.html" title="">About</a></li>
                      <li>
                        <a href="/15_portfolio_horizontal_scroll.html" title=""
                          >Works</a
                        >
                      </li>
                      <li><a href="/30_contact_1.html" title="">Contact</a></li>
                      <li>
                        <a href="/28_services_2.html" title="">Services</a>
                      </li>
                      <li><a href="/blog_layout1.html" title="">News</a></li>
                    </ul>
                  </div>
                  <!--get-touch-txt end-->
                </div>
              </div>
            </div>
            <!--footer-content end-->
          </div>
        </div>
        <!--top-footer end-->
        <div class="bottom-footer">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-6 col-md-6">
                <div class="cp-mile">
                  <img src="/assets/img/ft-logo.png" alt="" />
                  <p>© 2022. All Rights Reserved</p>
                </div>
                <!--cp-mile end-->
              </div>
              <div class="col-lg-6 col-md-6">
                <ul class="social-links">
                  <li>
                    <a href="#" title=""
                      ><i class="fab fa-facebook-square"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#" title=""><i class="fab fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#" title=""><i class="fab fa-behance"></i></a>
                  </li>
                  <li>
                    <a href="#" title=""><i class="fab fa-instagram"></i></a>
                  </li>
                </ul>
                <!--social-links end-->
              </div>
            </div>
          </div>
        </div>
        <!--bottom-footer end-->
      </footer>
      <!--footer end-->
    </div>
    <!--wrapper end-->

    <script src="/assets/js/bundle.min.js"></script>
  </body>
</html>
