<!DOCTYPE html>
<html lang="en">
	{% include head.html %}


<body>


	<div class="wrapper">

		{% include header/header-pricing.html %}
		<section class="error-page">
			<div class="container">
				<div class="error-content">
					{{content}}
					<a href="index.html" title="" class="btn-default box-shadow-none">Back To Homepage</a>
				</div><!--error-page end-->
			</div>
		</section><!--error-page end-->

		{% include footer/footer-team.html %}
	</div><!--wrapper end-->


<script src="/assets/js/bundle.min.js"></script>


</body>

</html>
