<!DOCTYPE html>
<html lang="en">
	{% include head.html %}


<body>


	<div class="wrapper">

		{% include header/header-pricing.html %}

		{% include pricing/pricing-v2.html %}
		<section class="testimonial-sec v10 clr-default">
			<div class="container">
				<div class="title-v10 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0ms">
					<span class="gray-color">testimonials</span>
					<h2>Why Clients Love Us</h2>
				</div><!--section-title end-->
				<div class="testimonial-slider">
					<div class="row testimo-slider">
						<div class="col-lg-6">
							<div class="testimonial-slide">
								<p>“Originally, creative and with an innate understanding of their customer’s need. The team at Miles are always a pleasure to work with. Recommended.”</p>
								<div class="thmb-row">
									<div class="thmb-img">
										<img src="/assets/img/thumb1.png" alt="">
									</div>
									<div class="thmb-info">
										<h3>Bobby Hanesto</h3>
										<span>Director of <em>Inivisionapp</em></span>
									</div>
								</div>
							</div><!--testimonial-slide end-->
						</div>
						<div class="col-lg-6">
							<div class="testimonial-slide">
								<p>“I don’t know what else to say, this is something that you haven’t seen before. Unique design, lightweight, and outstanding support.”</p>
								<div class="thmb-row">
									<div class="thmb-img">
										<img src="/assets/img/thumb2.png" alt="">
									</div>
									<div class="thmb-info">
										<h3>Jeans Grey</h3>
										<span>CEO of  <em>BraveBred</em></span>
									</div>
								</div>
							</div><!--testimonial-slide end-->
						</div>
						<div class="col-lg-6">
							<div class="testimonial-slide">
								<p>“Originally, creative and with an innate understanding of their customer’s need. The team at Miles are always a pleasure to work with. Recommended.”</p>
								<div class="thmb-row">
									<div class="thmb-img">
										<img src="/assets/img/thumb1.png" alt="">
									</div>
									<div class="thmb-info">
										<h3>Bobby Hanesto</h3>
										<span>Director of <em>Inivisionapp</em></span>
									</div>
								</div>
							</div><!--testimonial-slide end-->
						</div>
						<div class="col-lg-6">
							<div class="testimonial-slide">
								<p>“I don’t know what else to say, this is something that you haven’t seen before. Unique design, lightweight, and outstanding support.”</p>
								<div class="thmb-row">
									<div class="thmb-img">
										<img src="/assets/img/thumb2.png" alt="">
									</div>
									<div class="thmb-info">
										<h3>Jeans Grey</h3>
										<span>CEO of  <em>BraveBred</em></span>
									</div>
								</div>
							</div><!--testimonial-slide end-->
						</div>
					</div>
				</div><!--testimonial-slider end-->
				<div class="partners-section v10">
					<div class="pt-logos text-center d-flex flex-wrap justify-content-center align-items-center">
						<div class="pt-logo">
							<a href="#" title="">
								<img src="/assets/img/pt1.png" alt="">
							</a>
						</div><!--pt-logo end-->
						<div class="pt-logo">
							<a href="#" title="">
								<img src="/assets/img/pt2.png" alt="">
							</a>
						</div><!--pt-logo end-->
						<div class="pt-logo">
							<a href="#" title="">
								<img src="/assets/img/pt3.png" alt="">
							</a>
						</div><!--pt-logo end-->
						<div class="pt-logo">
							<a href="#" title="">
								<img src="/assets/img/pt4.png" alt="">
							</a>
						</div><!--pt-logo end-->
						<div class="pt-logo">
							<a href="#" title="">
								<img src="/assets/img/pt5.png" alt="">
							</a>
						</div><!--pt-logo end-->
					</div><!--pt-logos end-->
				</div>
			</div>
		</section><!--testimonial-sec end-->

		{% include footer/footer-team.html%}
	</div><!--wrapper end-->


<script src="/assets/js/bundle.min.js"></script>


</body>

</html>
