<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body class="hp13">
    <div class="wrapper">
      {% include header/header-portfolio2.html %}
      <!--header end-->

      {% include sidemenu.html %}
      <!--responsive-menu end-->

      <div class="list-menu active">
        <ul id="menuMain">
          <li data-menuanchor="contact">
            <a href="#contact" title="">contact</a>
          </li>
          <li data-menuanchor="clients">
            <a href="#clients" title="">clients</a>
          </li>
          <li data-menuanchor="cases"><a href="#cases" title="">cases</a></li>
          <li data-menuanchor="why-choose-us">
            <a href="#why-choose-us" title="">why choose us</a>
          </li>
          <li data-menuanchor="services">
            <a href="#services" title="">services</a>
          </li>
          <li data-menuanchor="about" class="active">
            <a href="#about" title="">about</a>
          </li>
        </ul>
      </div>
      <!--list-menu end-->

      <div id="pagepiling" class="dots-hidden">
        <div class="section pp-scrollable" id="about">
          <div class="slide-container">
            <h2 class="slide-number">1</h2>
            <div class="fixed-bg bg-3"></div>
            <div class="container">
              <div
                class="business-txt wow fadeInUp"
                data-wow-duration="1000ms"
                data-wow-delay="0ms"
              >
                <h2>Digital innovation companay that creates progress</h2>
                <p>
                  Like any great agency, we are only as good as the result we
                  deliver of our recent work
                </p>
                <a href="#" title="" class="btn-default v13">Get Started</a>
                <a
                  href="https://www.youtube.com/watch?v=vw6QmjPpdy4"
                  title=""
                  class="view-btn html5lightbox"
                >
                  <span class="pl-btn"><i class="lni lni-play"></i></span>
                  <span class="vt">view our story</span>
                </a>
              </div>
              <ul
                class="bd-list wow fadeInUp"
                data-wow-duration="1000ms"
                data-wow-delay="300ms"
              >
                <li>
                  <h3>branding identity</h3>
                </li>
                <li>
                  <h3>UI/UX Interaction</h3>
                </li>
                <li>
                  <h3>3d illustration & animation</h3>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="section pp-scrollable" id="services">
          <div class="slide-container">
            <h2 class="slide-number">2</h2>
            <div class="fixed-bg bg-gray"></div>
            <div class="about-v4-sec v11 gray-bg">
              <div class="container">
                <div class="about-v4-content">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="abt-list">
                        <div class="abt-content">
                          <h3>
                            <a href="17_portfolio_single_layout_1.html" title=""
                              >Branding</a
                            >
                          </h3>
                          <p>Create digital products with unique ideas</p>
                          <a href="#" title="">20 Projects</a>
                          <span class="iconn"
                            ><i class="lni lni-crown"></i
                          ></span>
                        </div>
                        <!--abt-content end-->
                        <div class="abt-content">
                          <h3>
                            <a href="17_portfolio_single_layout_1.html" title=""
                              >UI/UX Interaction</a
                            >
                          </h3>
                          <p>I develop front-end with coding super smooth</p>
                          <a href="#" title="">165 Projects</a>
                          <span class="iconn"
                            ><i class="lni lni-layout"></i
                          ></span>
                        </div>
                        <!--abt-content end-->
                        <div class="abt-content">
                          <h3>
                            <a href="17_portfolio_single_layout_1.html" title=""
                              >Motion</a
                            >
                          </h3>
                          <p>Create digital products with unique ideas</p>
                          <a href="#" title="">20 Projects</a>
                          <span class="iconn"
                            ><i class="lni lni-video"></i
                          ></span>
                        </div>
                        <!--abt-content end-->
                      </div>
                      <!--abt-list end-->
                    </div>
                    <div class="col-lg-6">
                      <div class="abt-col-text">
                        <h2>Smart solutions for your business</h2>
                        <h3>
                          We know that good design mean that good business.
                        </h3>
                        <p>
                          We help our client suceed by creating identities,
                          digital experiences, and printmaterials that
                          communicate clearly, achieve marketing goals &amp;
                          look fantastic Lorem uispum dolor sit amert tunoer
                          poea opefse ceefo goipully. Communicate clearly,
                          achieve marketing goals &amp; look fantastic Lorem
                          uispum dolor sit amert tunoer poea opefse ceefo
                          goipully.
                        </p>
                        <a href="#" title="" class="btn-default v13"
                          >Learn More</a
                        >
                      </div>
                      <!--abt-col-text end-->
                    </div>
                  </div>
                </div>
                <!--about-v4-content end-->
              </div>
            </div>
          </div>
        </div>
        <div class="section pp-scrollable" id="why-choose-us">
          <div class="slide-container">
            <h2 class="slide-number">3</h2>
            <div class="fixed-bg bg-white"></div>
            <div class="grow-business-v8">
              <div class="container">
                <div class="grw-content-v8 m-0">
                  <div class="row align-items-center">
                    <div class="col-lg-5">
                      <div class="gr-text">
                        <h2>Top reason for why choose miles</h2>
                        <div class="why-txt-v9">
                          <ul>
                            <li>
                              <div class="us-svs">
                                <span class="svs-icon">
                                  <i class="lni lni-money-protection"></i>
                                </span>
                                <div class="svs-info">
                                  <h3>Affordable Price</h3>
                                  <p>
                                    Nanotechnology immersion along the
                                    information highway will close the loop on
                                    focusing solely
                                  </p>
                                </div>
                              </div>
                              <!--us-svs end-->
                            </li>
                            <li>
                              <div class="us-svs">
                                <span class="svs-icon">
                                  <i class="lni lni-crown"></i>
                                </span>
                                <div class="svs-info">
                                  <h3>Top-notch Experts Consulting</h3>
                                  <p>
                                    Nanotechnology immersion along the
                                    information highway will close the loop on
                                    focusing solely
                                  </p>
                                </div>
                              </div>
                              <!--us-svs end-->
                            </li>
                            <li>
                              <div class="us-svs">
                                <span class="svs-icon">
                                  <i class="lni lni-comments-reply"></i>
                                </span>
                                <div class="svs-info">
                                  <h3>Dedicated Support 24/7</h3>
                                  <p>
                                    Nanotechnology immersion along the
                                    information highway will close the loop on
                                    focusing solely
                                  </p>
                                </div>
                              </div>
                              <!--us-svs end-->
                            </li>
                          </ul>
                        </div>
                      </div>
                      <!--gr-text end-->
                    </div>
                    <div class="col-lg-7">
                      <div class="gw-img">
                        <img src="assets/img/gw-img3.png" alt="" />
                        <div class="gw-text">
                          <h1>25</h1>
                          <h2>
                            years <br />
                            of <br />experience
                          </h2>
                          <h3>The Leading In Digital Marketing Industrial</h3>
                        </div>
                        <!--gw-text end-->
                      </div>
                      <!--gw-img end-->
                    </div>
                  </div>
                </div>
                <!--grw-content-v8 end-->
              </div>
            </div>
          </div>
        </div>
        <div class="section pp-scrollable" id="cases">
          <div class="slide-container">
            <h2 class="slide-number">4</h2>
            <div class="fixed-bg bg-gray"></div>
            <div class="task-section">
              <div class="container">
                <div class="task-slider">
                  <div class="task-slide">
                    <div class="row align-items-center">
                      <div class="col-lg-6">
                        <div class="tsk-text">
                          <h2>Taskly Dashboard Redesign</h2>
                          <span>Interaction</span>
                          <p>
                            Lewis nestled right into our wheelhouse. A dynamic
                            co-working space attracting entrepreneurs,
                            tinkerers, and creatives in the tech hub of Ann
                            Arbor, Michigan, they wanted a lifestyle brand—a
                            complete ecosystem of brand visuals and assets.
                          </p>
                          <a
                            href="17_portfolio_single_layout_1.html"
                            title=""
                            class="btn-default v13"
                            >View Project</a
                          >
                        </div>
                        <!--tsk-text end-->
                      </div>
                      <div class="col-lg-6">
                        <div class="tsk-img">
                          <img src="assets/img/tsk-img1.jpg" alt="" />
                        </div>
                        <!--tsk-img end-->
                      </div>
                    </div>
                  </div>
                  <!--task-slide end-->
                  <div class="task-slide">
                    <div class="row align-items-center">
                      <div class="col-lg-6">
                        <div class="tsk-text">
                          <h2>Taskly Dashboard Redesign</h2>
                          <span>Interaction</span>
                          <p>
                            Lewis nestled right into our wheelhouse. A dynamic
                            co-working space attracting entrepreneurs,
                            tinkerers, and creatives in the tech hub of Ann
                            Arbor, Michigan, they wanted a lifestyle brand—a
                            complete ecosystem of brand visuals and assets.
                          </p>
                          <a
                            href="17_portfolio_single_layout_1.html"
                            title=""
                            class="btn-default v13"
                            >View Project</a
                          >
                        </div>
                        <!--tsk-text end-->
                      </div>
                      <div class="col-lg-6">
                        <div class="tsk-img">
                          <img src="assets/img/tsk-img1.jpg" alt="" />
                        </div>
                        <!--tsk-img end-->
                      </div>
                    </div>
                  </div>
                  <!--task-slide end-->
                  <div class="task-slide">
                    <div class="row align-items-center">
                      <div class="col-lg-6">
                        <div class="tsk-text">
                          <h2>Taskly Dashboard Redesign</h2>
                          <span>Interaction</span>
                          <p>
                            Lewis nestled right into our wheelhouse. A dynamic
                            co-working space attracting entrepreneurs,
                            tinkerers, and creatives in the tech hub of Ann
                            Arbor, Michigan, they wanted a lifestyle brand—a
                            complete ecosystem of brand visuals and assets.
                          </p>
                          <a
                            href="17_portfolio_single_layout_1.html"
                            title=""
                            class="btn-default v13"
                            >View Project</a
                          >
                        </div>
                        <!--tsk-text end-->
                      </div>
                      <div class="col-lg-6">
                        <div class="tsk-img">
                          <img src="assets/img/tsk-img1.jpg" alt="" />
                        </div>
                        <!--tsk-img end-->
                      </div>
                    </div>
                  </div>
                  <!--task-slide end-->
                </div>
                <!--task-slider end-->
              </div>
            </div>
            <!--task-section end-->
          </div>
        </div>
        <div class="section pp-scrollable" id="clients">
          <div class="slide-container">
            <h2 class="slide-number">5</h2>
            <div class="fixed-bg bg-white"></div>
            <div class="testimonial-sec v10">
              <div class="container">
                <div class="title-v10">
                  {% assign testimonials = page.testimonials %}
                  <h2>{{testimonials.title}}</h2>
                </div>
                <!--section-title end-->
                <div class="testimonial-slider">
                  <div class="row testimo-slider">
                    {% for testimonials in site.data.testimonials.testimonials-v6 %}
                    <div class="col-lg-6">
                      <div class="testimonial-slide">
                        <p>“{{testimonials.content}}”</p>
                        <div class="thmb-row">
                          <div class="thmb-img">
                            <img src="{{testimonials.image}}" alt="" />
                          </div>
                          <div class="thmb-info">
                            <h3>{{testimonials.name}}</h3>
                            <span
                              >{{testimonials.position}}<em>
                                {{testimonials.company}}</em
                              ></span
                            >
                          </div>
                        </div>
                      </div>
                      <!--testimonial-slide end-->
                    </div>
                    {% endfor %}
                  </div>
                </div>
                <!--testimonial-slider end-->
                <div class="partners-section v10">
                  <div
                    class="pt-logos text-center d-flex flex-wrap justify-content-center align-items-center"
                  >
                    {% for clients in site.data.clients.clients-v5 %}
                    <div class="pt-logo">
                      <a href="{{ clients.link}}" title="">
                        <img src="{{ clients.image}}" alt="" />
                      </a>
                    </div>
                    {% endfor %}
                    <!--pt-logo end-->
                  </div>
                  <!--pt-logos end-->
                </div>
              </div>
            </div>
            <!--testimonial-sec end-->
          </div>
        </div>
        <div class="section pp-scrollable" id="contact">
          <div class="slide-container">
            <h2 class="slide-number">6</h2>
            <div class="fixed-bg bg-gray"></div>
            <div class="contact-pp-content">
              <div class="container">
                <div class="pp-map">
                  <iframe
                    id="gmap_canvas"
                    src="https://maps.google.com/maps?q=&t=&z=13&ie=UTF8&iwloc=&output=embed"
                  ></iframe>
                </div>
                <!--pp-map end-->
                <div class="pp-text">
                  <h2>Contact us for any further question</h2>
                  <div class="row">
                    <div class="col-lg-4 col-md-6">
                      <div class="pp-col">
                        <div class="pp-head">
                          <h3>Contact Directly</h3>
                          <span><i class="lni lni-envelope"></i></span>
                        </div>
                        <div class="pp-content">
                          <span
                            ><a href="mailto:example@example.com" title=""
                              >contact@milesstudio.com</a
                            ></span
                          >
                          <span>(+056) 83-458-868</span>
                        </div>
                      </div>
                      <!--pp-col end-->
                    </div>
                    <div class="col-lg-4 col-md-6">
                      <div class="pp-col">
                        <div class="pp-head">
                          <h3>our office</h3>
                          <span><i class="lni lni-map-marker"></i></span>
                        </div>
                        <div class="pp-content">
                          <span
                            >962 Fifth Avenue Str, 3rd-Floor Trump Building, NY
                            10006, USA</span
                          >
                        </div>
                      </div>
                      <!--pp-col end-->
                    </div>
                    <div class="col-lg-4 col-md-6">
                      <div class="pp-col">
                        <div class="pp-head">
                          <h3>work with us</h3>
                          <span><i class="lni lni-briefcase"></i></span>
                        </div>
                        <div class="pp-content">
                          <span
                            >Send your CV/Resumer or Linkedin to:
                            carrer@milesstuio.com</span
                          >
                        </div>
                      </div>
                      <!--pp-col end-->
                    </div>
                  </div>
                </div>
                <!--pp-text end-->
              </div>
            </div>
            <!--contact-pp-content end-->
          </div>
        </div>
      </div>
      <!--page-pillinge-content end-->

      <ul class="social-vertical active v2">
        <li>
          <a href="#" title=""><i class="fab fa-twitter"></i></a>
        </li>
        <li>
          <a href="#" title=""><i class="fab fa-behance"></i></a>
        </li>
        <li>
          <a href="#" title=""><i class="fab fa-instagram"></i></a>
        </li>
      </ul>
      <!--social-vertical end-->
    </div>
    <!--wrapper end-->

    <script src="/assets/js/bundle.min.js"></script>
  </body>
</html>
