<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    <div class="wrapper">
      {% include header/creative-agency2.html %}
      <!--header end-->

      <section class="main-banner-v11">
        <div class="container">
          <div
            class="content-v11 wow fadeInUp"
            data-wow-duration="1000ms"
            data-wow-delay="0ms"
          >
            <span>miles agency</span>
            <h2>
              We build <br />
              brands that lead & inspire
            </h2>
            <p>
              Like any great agency, we are only as good as the result we
              deliver of our recent work
            </p>
            <a href="#" title="" class="btn-default v11">Learn More</a>
            <a
              href="https://www.youtube.com/watch?v=vw6QmjPpdy4"
              title=""
              class="view-btn html5lightbox"
            >
              <span class="pl-btn"><i class="lni lni-play"></i></span>
              <span class="vt">view our story</span>
            </a>
          </div>
          <!--content-v11 end-->
        </div>
      </section>
      <!--main-banner-v11 end-->

      <section class="partners-section v11 gray-bg">
        <div class="container">
          <div
            class="pt-logos text-center d-flex flex-wrap justify-content-center align-items-center"
          >
            <!--pt-logo end-->
            {% for clients in site.data.clients.clients-v5 %}
            <div class="pt-logo">
              <a href="{{ clients.link}}" title="">
                <img src="{{ clients.image}}" alt="" />
              </a>
            </div>
            {% endfor %}
            <!--pt-logo end-->
          </div>
          <!--pt-logos end-->
        </div>
      </section>
      <!--partners-section end-->

      <section class="about-v4-sec v11 gray-bg">
        <div class="container">
          <div class="about-v4-content">
            <div class="row">
              <div class="col-lg-6">
                <div class="abt-list">
                  <div class="abt-content">
                    <h3><a href="27_service_1.html" title="">Branding</a></h3>
                    <p>Create digital products with unique ideas</p>
                    <a href="17_portfolio_single_layout_1.html" title=""
                      >20 Projects</a
                    >
                    <span class="iconn"><i class="lni lni-vector"></i></span>
                  </div>
                  <!--abt-content end-->
                  <div class="abt-content">
                    <h3>
                      <a href="27_service_1.html" title="">UI/UX Interaction</a>
                    </h3>
                    <p>I develop front-end with coding super smooth</p>
                    <a href="17_portfolio_single_layout_1.html" title=""
                      >165 Projects</a
                    >
                    <span class="iconn"><i class="lni lni-code"></i></span>
                  </div>
                  <!--abt-content end-->
                  <div class="abt-content">
                    <h3><a href="27_service_1.html" title="">Motion</a></h3>
                    <p>Create digital products with unique ideas</p>
                    <a href="17_portfolio_single_layout_1.html" title=""
                      >20 Projects</a
                    >
                    <span class="iconn"><i class="lni lni-compass"></i></span>
                  </div>
                  <!--abt-content end-->
                </div>
                <!--abt-list end-->
              </div>
              <div class="col-lg-6">
                <div
                  class="abt-col-text wow fadeInUp"
                  data-wow-duration="1000ms"
                  data-wow-delay="0ms"
                >
                  <span>about us</span>
                  <h2>We brings trusted solutions your business</h2>
                  <h3>We know that good design mean that good business.</h3>
                  <p>
                    We help our client suceed by creating identities, digital
                    experiences, and printmaterials that communicate clearly,
                    achieve marketing goals & look fantastic Lorem uispum dolor
                    sit amert tunoer poea opefse ceefo goipully. Communicate
                    clearly, achieve marketing goals & look fantastic Lorem
                    uispum dolor sit amert tunoer poea opefse ceefo goipully.
                  </p>
                  <a
                    href="24_about_agency.html"
                    title=""
                    class="btn-default v11"
                    >Learn More</a
                  >
                </div>
                <!--abt-col-text end-->
              </div>
            </div>
          </div>
          <!--about-v4-content end-->
        </div>
      </section>

      <section class="why-us-v8 v11">
        <div class="container">
          <div
            class="title-v8 v11 text-center wow fadeInUp"
            data-wow-duration="1000ms"
            data-wow-delay="0ms"
          >
            <span>why choose us</span>
            <h2>Top reasons for why choose us</h2>
            <p>
              Our strategy includes consistently evolving, to ensure we’re
              producing exceptional SEO for business.
            </p>
          </div>
          <!--title-v8 end-->
          <div class="row fzt-row">
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="our-fzt">
                <h3>
                  <a href="27_service_1.html" title="">Competitor Research</a>
                </h3>
                <p>Help business with their brading identity system better</p>
                <span class="fzt-icon v1"><i class="lni lni-users"></i></span>
              </div>
              <!--our-fzt end-->
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="our-fzt">
                <h3>
                  <a href="27_service_1.html" title=""
                    >Innovatives Ideas &amp; Strategy</a
                  >
                </h3>
                <p>
                  Reach out your clients better through website &amp; mobile app
                </p>
                <span class="fzt-icon v2"
                  ><i class="lni lni-invention"></i
                ></span>
              </div>
              <!--our-fzt end-->
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="our-fzt">
                <h3>
                  <a href="27_service_1.html" title="">Affordable Cost</a>
                </h3>
                <p>
                  Building plan &amp; strategy for your business by social
                  marketing
                </p>
                <span class="fzt-icon v3"
                  ><i class="lni lni-money-protection"></i
                ></span>
              </div>
              <!--our-fzt end-->
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="our-fzt">
                <h3>
                  <a href="27_service_1.html" title=""
                    >Dedicated Support &amp; 24/7</a
                  >
                </h3>
                <p>Improve quality of product with high resolution photos</p>
                <span class="fzt-icon v4"
                  ><i class="lni lni-headphone"></i
                ></span>
              </div>
              <!--our-fzt end-->
            </div>
          </div>
          <ul
            class="counter-sec-v6 wow fadeInUp"
            id="counter"
            data-wow-duration="1000ms"
            data-wow-delay="0ms"
          >
            <li>
              <div class="counter-cont">
                <h2 class="count">820</h2>
                <span
                  >satisfaction <br />
                  clients</span
                >
              </div>
              <!--counter-cont end-->
            </li>
            <li>
              <div class="counter-cont">
                <h2 class="count">643</h2>
                <span>employees on worldwide</span>
              </div>
              <!--counter-cont end-->
            </li>
            <li>
              <div class="counter-cont">
                <h2 class="count">1875</h2>
                <span>projects completed on 60 countries</span>
              </div>
              <!--counter-cont end-->
            </li>
          </ul>
        </div>
      </section>

      <section class="works-v3-sec v10 v11">
        <div class="container">
          <div
            class="title-v10 text-center wow fadeInUp"
            data-wow-duration="1000ms"
            data-wow-delay="0ms"
          >
            <span>Portfolio</span>
            <h2>Our Latest Projects</h2>
          </div>
          <!--title-v10 end-->
        </div>
        <div class="work-projects">
          <div class="container">
            <div class="row work-slider">
              <div class="col-lg-6">
                <div class="work-slide">
                  <img src="assets/img/pict1.jpg" alt="" />
                  <div class="wkr-txt">
                    <h3>
                      <a href="18_portfolio_single_layout_2.html" title=""
                        >Arquito</a
                      >
                    </h3>
                    <span>Interaction, Illustration</span>
                  </div>
                </div>
                <!--work-slide end-->
              </div>
              <div class="col-lg-6">
                <div class="work-slide">
                  <img src="assets/img/pict2.jpg" alt="" />
                  <div class="wkr-txt">
                    <h3>
                      <a href="18_portfolio_single_layout_2.html" title=""
                        >Lewis Mobile</a
                      >
                    </h3>
                    <span>Branding, Illustration, Interaction</span>
                  </div>
                </div>
                <!--work-slide end-->
              </div>
              <div class="col-lg-6">
                <div class="work-slide">
                  <img src="assets/img/pict1.jpg" alt="" />
                  <div class="wkr-txt">
                    <h3>
                      <a href="18_portfolio_single_layout_2.html" title=""
                        >Arquito</a
                      >
                    </h3>
                    <span>Interaction, Illustration</span>
                  </div>
                </div>
                <!--work-slide end-->
              </div>
              <div class="col-lg-6">
                <div class="work-slide">
                  <img src="assets/img/pict2.jpg" alt="" />
                  <div class="wkr-txt">
                    <h3>
                      <a href="18_portfolio_single_layout_2.html" title=""
                        >Lewis Mobile</a
                      >
                    </h3>
                    <span>Branding, Illustration, Interaction</span>
                  </div>
                </div>
                <!--work-slide end-->
              </div>
            </div>
            <!--work-slider end-->
          </div>
        </div>
        <!--work-projects end-->
      </section>
      <!--works-v3-sec end-->

      <section class="award-certificate-sec">
        <div class="container">
          <div
            class="title-v8 v11 text-center wow fadeInUp"
            data-wow-duration="1000ms"
            data-wow-delay="0ms"
          >
            <span>awards</span>
            <h2>Rewards for our efforts</h2>
            <p>
              It's always good to receive positive and constructive feedback for
              your work - from clients and moreover, from designers!
            </p>
          </div>
          <!--title-v8 end-->
          <div class="certicications-sec">
            <div class="certificate-details">
              <span class="date">2020</span>
              <div class="awd-logo">
                <img src="assets/img/awd1.png" alt="" />
              </div>
              <div class="awd-list">
                <div class="row">
                  <div class="col-lg-8">
                    <div class="awd-info">
                      <h3>SOTY 2020</h3>
                      <span>Faye Fo Website Redesign</span>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <a href="#" title="" class="web-link">www.fayefo.co.uk</a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-8">
                    <div class="awd-info">
                      <h3>Mobile Excellence</h3>
                      <span>Nike Workout App</span>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <a href="#" title="" class="web-link"
                      >www.nike-workout.io</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <!--certificate-details end-->
            <div class="certificate-details">
              <span class="date">2019</span>
              <div class="awd-logo">
                <img src="assets/img/awd2.png" alt="" />
              </div>
              <div class="awd-list">
                <div class="row">
                  <div class="col-lg-8">
                    <div class="awd-info">
                      <h3>Websites Of The Year 2019</h3>
                      <span>Focus - Financial Management System</span>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <a href="#" title="" class="web-link">www.focus.com</a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-8">
                    <div class="awd-info">
                      <h3>Websites Of The Month, August 2019</h3>
                      <span>Lewis Creative Agency</span>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <a href="#" title="" class="web-link"
                      >www.lewisstudio.com</a
                    >
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-8">
                    <div class="awd-info">
                      <h3>Best 20 Websites Favourite 2019</h3>
                      <span>Arquito Architeture &amp; Interior Firm</span>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <a href="#" title="" class="web-link">www.arquito.pl</a>
                  </div>
                </div>
              </div>
            </div>
            <!--certificate-details end-->
            <div class="certificate-details">
              <span class="date">2018</span>
              <div class="awd-logo">
                <img src="assets/img/awd3.png" alt="" />
              </div>
              <div class="awd-list">
                <div class="row">
                  <div class="col-lg-8">
                    <div class="awd-info">
                      <h3>Winner Portfolio Review United States</h3>
                      <span>Summit Spa Brand</span>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <a href="#" title="" class="web-link"
                      >www.submitspa.com.us</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <!--certificate-details end-->
          </div>
        </div>
      </section>
      <!--award-certificate-sec end-->

      <section class="team-sec-v11">
        <div class="container">
          <div
            class="title-v8 v11 text-center wow fadeInUp"
            data-wow-duration="1000ms"
            data-wow-delay="0ms"
          >
            <span>team</span>
            <h2>Join 4000+ talented members of Miles</h2>
          </div>
          <!--title-v8 end-->
          <div class="row teams teams-slider">
            <div class="col-lg-3">
              <div class="team-cl">
                <img src="assets/img/team1.jpg" alt="" />
                <div class="team-fig">
                  <h3><a href="#" title="">Ellise Rohanson</a></h3>
                  <span>Co-Founder</span>
                </div>
                <!--team-cl end-->
                <ul class="social-ic">
                  <li>
                    <a href="#" title=""><i class="fab fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#" title=""><i class="fab fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="#" title=""><i class="fab fa-instagram"></i></a>
                  </li>
                </ul>
                <!--social-ic end-->
              </div>
              <!--team-cl end-->
            </div>
            <div class="col-lg-3">
              <div class="team-cl">
                <img src="assets/img/team2.jpg" alt="" />
                <div class="team-fig">
                  <h3><a href="#" title="">Ellise Rohanson</a></h3>
                  <span>Co-Founder</span>
                </div>
                <!--team-cl end-->
                <ul class="social-ic">
                  <li>
                    <a href="#" title=""><i class="fab fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#" title=""><i class="fab fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="#" title=""><i class="fab fa-instagram"></i></a>
                  </li>
                </ul>
                <!--social-ic end-->
              </div>
              <!--team-cl end-->
            </div>
            <div class="col-lg-3">
              <div class="team-cl">
                <img src="assets/img/team3.jpg" alt="" />
                <div class="team-fig">
                  <h3><a href="#" title="">Ellise Rohanson</a></h3>
                  <span>Co-Founder</span>
                </div>
                <!--team-cl end-->
                <ul class="social-ic">
                  <li>
                    <a href="#" title=""><i class="fab fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#" title=""><i class="fab fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="#" title=""><i class="fab fa-instagram"></i></a>
                  </li>
                </ul>
                <!--social-ic end-->
              </div>
              <!--team-cl end-->
            </div>
            <div class="col-lg-3">
              <div class="team-cl">
                <img src="assets/img/team4.jpg" alt="" />
                <div class="team-fig">
                  <h3><a href="#" title="">Ellise Rohanson</a></h3>
                  <span>Co-Founder</span>
                </div>
                <!--team-cl end-->
                <ul class="social-ic">
                  <li>
                    <a href="#" title=""><i class="fab fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#" title=""><i class="fab fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="#" title=""><i class="fab fa-instagram"></i></a>
                  </li>
                </ul>
                <!--social-ic end-->
              </div>
              <!--team-cl end-->
            </div>
            <div class="col-lg-3">
              <div class="team-cl">
                <img src="assets/img/team5.jpg" alt="" />
                <div class="team-fig">
                  <h3><a href="#" title="">Ellise Rohanson</a></h3>
                  <span>Co-Founder</span>
                </div>
                <!--team-cl end-->
                <ul class="social-ic">
                  <li>
                    <a href="#" title=""><i class="fab fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#" title=""><i class="fab fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="#" title=""><i class="fab fa-instagram"></i></a>
                  </li>
                </ul>
                <!--social-ic end-->
              </div>
              <!--team-cl end-->
            </div>
            <div class="col-lg-3">
              <div class="team-cl">
                <img src="assets/img/team6.jpg" alt="" />
                <div class="team-fig">
                  <h3><a href="#" title="">Ellise Rohanson</a></h3>
                  <span>Co-Founder</span>
                </div>
                <!--team-cl end-->
                <ul class="social-ic">
                  <li>
                    <a href="#" title=""><i class="fab fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#" title=""><i class="fab fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="#" title=""><i class="fab fa-instagram"></i></a>
                  </li>
                </ul>
                <!--social-ic end-->
              </div>
              <!--team-cl end-->
            </div>
            <div class="col-lg-3">
              <div class="team-cl">
                <img src="assets/img/team7.jpg" alt="" />
                <div class="team-fig">
                  <h3><a href="#" title="">Ellise Rohanson</a></h3>
                  <span>Co-Founder</span>
                </div>
                <!--team-cl end-->
                <ul class="social-ic">
                  <li>
                    <a href="#" title=""><i class="fab fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#" title=""><i class="fab fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="#" title=""><i class="fab fa-instagram"></i></a>
                  </li>
                </ul>
                <!--social-ic end-->
              </div>
              <!--team-cl end-->
            </div>
            <div class="col-lg-3">
              <div class="team-cl">
                <img src="assets/img/team8.jpg" alt="" />
                <div class="team-fig">
                  <h3><a href="#" title="">Ellise Rohanson</a></h3>
                  <span>Co-Founder</span>
                </div>
                <!--team-cl end-->
                <ul class="social-ic">
                  <li>
                    <a href="#" title=""><i class="fab fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#" title=""><i class="fab fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="#" title=""><i class="fab fa-instagram"></i></a>
                  </li>
                </ul>
                <!--social-ic end-->
              </div>
              <!--team-cl end-->
            </div>
          </div>
          <!---teams end-->
          <div class="full-div text-center">
            <a href="33_career.html" title="" class="btn-default v11"
              >Become our member</a
            >
          </div>
          <!--full-div end-->
        </div>
      </section>
      <!--team-sec-v11 end-->

      <section class="blog-section-v7 v11">
        <div class="container">
          <div class="blog-posts-v7">
            <div class="row">
              {% for post in site.posts limit: 3 %}
              <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog-post-v7">
                  <div class="blog-thumbnail">
                    <img src="{{post.layout_image}}" alt="" class="w-100" />
                  </div>
                  <div class="blog-info">
                    <ul class="meta">
                      <li>
                        <a
                          >{{ post.date | date_to_long_string: "ordinal", "US"
                          }}</a
                        >
                      </li>
                    </ul>
                    <h2>
                      <a href="{{post.url}}" title="">{{post.title}}</a>
                    </h2>
                  </div>
                </div>
                <!--blog-post-v7 end-->
              </div>
              {% endfor %}
            </div>
          </div>
          <!--blog-posts-v7 end-->
        </div>
      </section>

      <section class="testimonial-sec v10 v11">
        <div class="container">
          <div
            class="title-v8 v11 text-center wow fadeInUp"
            data-wow-duration="1000ms"
            data-wow-delay="0ms"
          >
            {% assign testimonials = page.testimonials %}
            <span>{{testimonials.title}}</span>
            <h2>{{testimonials.subtitle}}</h2>
          </div>
          <!--title-v9 end-->
          <div class="testimonial-slider style2">
            <div class="row testimo-slider">
              {% for testimonials in site.data.testimonials.testimonials-v6 %}
              <div class="col-lg-6">
                <div class="testimonial-slide">
                  <p>“{{testimonials.content}}”</p>
                  <div class="thmb-row">
                    <div class="thmb-img">
                      <img src="{{testimonials.image}}" alt="" />
                    </div>
                    <div class="thmb-info">
                      <h3>{{testimonials.name}}</h3>
                      <span
                        >{{testimonials.position}}<em>
                          {{testimonials.company}}</em
                        ></span
                      >
                    </div>
                  </div>
                </div>
                <!--testimonial-slide end-->
              </div>
              {% endfor %}
            </div>
          </div>
          <!--testimonial-slider end-->
        </div>
      </section>
      <!--testimonial end-->

      <section class="contact-sec v11 pf-single">
        <div class="container">
          <div class="border-top-content">
            <div
              class="title-v8 v11 text-center wow fadeInUp"
              data-wow-duration="1000ms"
              data-wow-delay="0ms"
            >
              <span>drop a line</span>
              <h2>Kick-start your project now with us</h2>
            </div>
            <!--sec-title end-->
            <form class="contact-form">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form--control"
                      id="name"
                      name="name"
                      placeholder=""
                    />
                    <label for="name">Full Name <span>*</span> </label>
                  </div>
                  <!--form-group end-->
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form--control"
                      id="email"
                      name="email"
                      placeholder=""
                    />
                    <label for="email">Email Address <span>*</span></label>
                  </div>
                  <!--form-group end-->
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form--control"
                      id="subject"
                      name="subject"
                      placeholder=""
                    />
                    <label for="subject">Subject</label>
                  </div>
                  <!--form-group end-->
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <textarea class="form--control" id="message"></textarea>
                    <label for="message">Your message here</label>
                  </div>
                  <!--form-group end-->
                </div>
                <div class="col-md-12">
                  <div class="form-group text-center m-0">
                    <button type="submit" class="btn-default v11 no-bg">
                      Submit Your Inquiry
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <!--border-top-content end-->
        </div>
      </section>
      <!--contact-sec end-->

      {% include footer/creative-agency2.html %}
      <!--footer end-->
    </div>
    <!--wrapper end-->

    <script src="/assets/js/bundle.min.js"></script>
    {% include chat-script.html %}

  </body>
</html>
