<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    <div class="wrapper">
      {% include header/creative-agency.html %}
      <!--header end-->

      <section class="banner-v10">
        <div class="container">
          <div class="banner-content-v10">
            <div
              class="banner-txt-v10 wow fadeInUp"
              data-wow-duration="1000ms"
              data-wow-delay="0ms"
            >
              <span>miles agency</span>
              <h2>
                We build <br />
                brands that lead & inspire
              </h2>
              <p>
                Like any great agency, we are only as good as the result we
                deliver of our recent work
              </p>
              <a href="#" title="" class="btn-default-v10">Get Started</a>
            </div>
            <!--banner-txt-v10 end-->
            <div
              class="ban-img-v10 wow zoomIn"
              data-wow-duration="1000ms"
              data-wow-delay="0ms"
            >
              <img src="assets/img/ban-img10.png" alt="" class="w-100" />
            </div>
            <!--ban-img-v10 end-->
          </div>
          <!--banner-content-v10 end-->
        </div>
      </section>
      <!--banner-v10 end-->

      <section class="our-services-sec v10">
        <div class="container">
          <div class="our-services-content">
            <div class="row">
              <div class="col-lg-4 col-md-6">
                <div
                  class="service-card-mile wow fadeInLeft"
                  data-wow-duration="1000ms"
                  data-wow-delay="0ms"
                >
                  <img src="assets/img/icon1.png" alt="" />
                  <h2><a href="27_service_1.html" title="">Branding</a></h2>
                  <p>
                    We build and activate brands throung cultural insigh &,
                    strategic vision.
                  </p>
                  <a href="#" title="" class="cat-up">case study</a>
                </div>
                <!--service-card end-->
              </div>
              <div class="col-lg-4 col-md-6">
                <div
                  class="service-card-mile wow fadeInUp"
                  data-wow-duration="1000ms"
                  data-wow-delay="200ms"
                >
                  <img src="assets/img/icon2.png" alt="" />
                  <h2><a href="27_service_1.html" title="">Interaction</a></h2>
                  <p>
                    We build and activate brands throung cultural insigh &,
                    strategic vision.
                  </p>
                  <a href="#" title="" class="cat-up">case study</a>
                </div>
                <!--service-card end-->
              </div>
              <div class="col-lg-4 col-md-6">
                <div
                  class="service-card-mile wow fadeInRight"
                  data-wow-duration="1000ms"
                  data-wow-delay="400ms"
                >
                  <img src="assets/img/icon3.png" alt="" />
                  <h2><a href="27_service_1.html" title="">Motion</a></h2>
                  <p>
                    We build and activate brands throung cultural insigh &,
                    strategic vision.
                  </p>
                  <a href="#" title="" class="cat-up">case study</a>
                </div>
                <!--service-card end-->
              </div>
            </div>
          </div>
          <!--our-services-content end-->
        </div>
      </section>
      <!--our-services-sec end-->

      <section class="about-v10">
        <div class="container">
          <div class="row about-v10-content">
            <div class="col-lg-6">
              <div
                class="abt-v10-img wow fadeInUp"
                data-wow-duration="1000ms"
                data-wow-delay="0ms"
              >
                <img src="assets/img/ban-img11.png" alt="" />
              </div>
              <!-- abt-v10-img end-->
            </div>
            <div class="col-lg-6">
              <div class="abt-v10-txt">
                <div class="title-v10">
                  <span>about us</span>
                  <h2>Creative Design & Advertising</h2>
                </div>
                <!--title-v10 end-->
                <span
                  >We know that good design mean that good business.Design is so
                  simple.</span
                >
                <p>
                  We help our client suceed by creating identities, digital
                  experiences, and printmaterials that communicate clearly,
                  achieve marketing goals, and look fantastic
                </p>
                <a
                  href="25_about_business.html"
                  title=""
                  class="btn-default-v10 v2"
                  >Learn More</a
                >
                <a
                  href="https://www.youtube.com/watch?v=vw6QmjPpdy4"
                  title=""
                  class="view-btn html5lightbox"
                >
                  <span class="pl-btn"><i class="lni lni-play"></i></span>
                  <span class="vt">view our story</span>
                </a>
              </div>
              <!--abt-v10-txt end-->
            </div>
          </div>
          <!--about-v10-content end-->
          <ul
            class="counter-sec-v6 wow fadeInUp"
            id="counter"
            data-wow-duration="1000ms"
            data-wow-delay="0ms"
          >
            <li>
              <div class="counter-cont">
                <h2 class="count">100</h2>
                <span
                  >satisfaction <br />
                  clients</span
                >
              </div>
              <!--counter-cont end-->
            </li>
            <li>
              <div class="counter-cont">
                <h2 class="count">158</h2>
                <span>event &amp; oline courses</span>
              </div>
              <!--counter-cont end-->
            </li>
            <li>
              <div class="counter-cont">
                <h2 class="count">3875</h2>
                <span>successful students on 60 countries</span>
              </div>
              <!--counter-cont end-->
            </li>
          </ul>
        </div>
      </section>
      <!--about-v10 end-->

      <section class="works-v3-sec v10">
        <div class="container">
          <div class="title-v10 text-center">
            <span>Portfolio</span>
            <h2>Latest Projects</h2>
          </div>
          <!--title-v10 end-->
        </div>
        <div class="work-projects">
          <div class="container">
            <div class="row work-slider">
              <div class="col-lg-6">
                <div class="work-slide">
                  <img src="assets/img/pic2.jpg" alt="" />
                  <div class="wkr-txt">
                    <h3>
                      <a href="17_portfolio_single_layout_1.html" title=""
                        >Faye Fo</a
                      >
                    </h3>
                    <span>Interaction, Illustration</span>
                  </div>
                </div>
                <!--work-slide end-->
              </div>
              <div class="col-lg-6">
                <div class="work-slide">
                  <img src="assets/img/pic3.jpg" alt="" />
                  <div class="wkr-txt">
                    <h3>
                      <a href="17_portfolio_single_layout_1.html" title=""
                        >Taskly</a
                      >
                    </h3>
                    <span>Branding, Illustration, Interaction</span>
                  </div>
                </div>
                <!--work-slide end-->
              </div>
              <div class="col-lg-6">
                <div class="work-slide">
                  <img src="assets/img/pic2.jpg" alt="" />
                  <div class="wkr-txt">
                    <h3>
                      <a href="17_portfolio_single_layout_1.html" title=""
                        >Faye Fo</a
                      >
                    </h3>
                    <span>Interaction, Illustration</span>
                  </div>
                </div>
                <!--work-slide end-->
              </div>
              <div class="col-lg-6">
                <div class="work-slide">
                  <img src="assets/img/pic3.jpg" alt="" />
                  <div class="wkr-txt">
                    <h3>
                      <a href="17_portfolio_single_layout_1.html" title=""
                        >Taskly</a
                      >
                    </h3>
                    <span>Branding, Illustration, Interaction</span>
                  </div>
                </div>
                <!--work-slide end-->
              </div>
            </div>
            <!--work-slider end-->
          </div>
        </div>
        <!--work-projects end-->
      </section>
      <!--works-v3-sec end-->

      <section class="pricing-v10">
        <div class="container">
          <div
            class="title-v10 text-center wow fadeInUp"
            data-wow-duration="1000ms"
            data-wow-delay="0ms"
          >
            <span>Plan & pricing</span>
            <h2>Start With An Affordable</h2>
          </div>
          <!--title-v10 end-->
          <div class="row prices-v10">
            <div class="col-lg-4 col-md-6">
              <div class="price-v10">
                <img src="assets/img/p-icon1.png" alt="" />
                <h4>Basic</h4>
                <span>Start for everyone</span>
                <h2><sup>$</sup> 9.99 <span>/ month</span></h2>
                <ul>
                  <li>500 request</li>
                  <li>unlimited projects</li>
                </ul>
                <a href="#" title="" class="btn-default-v10 v2"
                  >Get Started Now</a
                >
              </div>
              <!--price-v10 end-->
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="price-v10">
                <div class="recommended">
                  <span class="recommended">recommended</span>
                </div>
                <img src="assets/img/p-icon2.png" alt="" />
                <h4>premium</h4>
                <span>Start for team</span>
                <h2><sup>$</sup> 29.99 <span>/ month</span></h2>
                <ul>
                  <li>2000 request</li>
                  <li>unlimited projects</li>
                  <li>free trial pro functions</li>
                </ul>
                <a href="#" title="" class="btn-default-v10 v2"
                  >Get Started Now</a
                >
              </div>
              <!--price-v10 end-->
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="price-v10">
                <img src="assets/img/p-icon3.png" alt="" />
                <h4>ultimate</h4>
                <span>Start for enterprise</span>
                <h2><sup>$</sup> 69.99 <span>/ month</span></h2>
                <ul>
                  <li>5000 request</li>
                  <li>unlimited projects</li>
                  <li>unlimited pro functions</li>
                </ul>
                <a href="#" title="" class="btn-default-v10 v2"
                  >Get Started Now</a
                >
              </div>
              <!--price-v10 end-->
            </div>
          </div>
          <div class="text-center pl-btm">
            <p>
              You have a large team? <a href="#" title="">Contact us</a> for
              information about more enterprise options
            </p>
          </div>
        </div>
      </section>
      <!--pricing-v10 end-->

      {% include testimonial/creative-agency.html %}
      <section class="blogs-v10">
        <div class="container">
          <div
            class="title-v10 text-center wow fadeInUp"
            data-wow-duration="1000ms"
            data-wow-delay="0ms"
          >
            <span>our press</span>
            <h2>Lastes Articles</h2>
          </div>
          <!--title-v10 end-->
          <div class="blog-posts-v10 row">
            {% for post in site.posts limit: 3 %}
            <div class="col-lg-4 col-md-6 col-sm-6">
              <div class="post-v10">
                <div class="post-thumb">
                  <img src="{{post.layout_image}}" alt="" class="w-100" />
                </div>
                <div class="post-info">
                  <h2>
                    <a href="{{bpostlog.url}}" title="">{{post.title}}</a>
                  </h2>
                  <p>{{post.description}}</p>
                  <span class="posted-on"
                    >{{ post.date | date_to_long_string: "ordinal", "US" }}
                  </span>
                </div>
              </div>
              <!--post-v10 end-->
            </div>
            {% endfor %}
          </div>
          <!--blog-posts-v10 end-->
        </div>
      </section>
      <!--blogs-v10 end-->

      {% include footer/footer-agency.html %}
    </div>
    <!--wrapper end-->

    <script src="/assets/js/bundle.min.js"></script>
    {% include chat-script.html %}

  </body>
</html>
