<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    <div class="wrapper">
      {% include header/header-consulting.html %}
      <!--header end-->
      <section class="main-banner-v9">
  			<div class="container">
  				<div class="banner-slider-v9 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0ms">
  					<div class="banner-slide-v9">
  						<span>Rewared for your trust</span>
  						<h2><span>Building The Right</span> Foundations</h2>
  						<p>Like any great agency, we are only as good as the result we deliver of our recent work</p>
  						<a href="#" title="" class="btn-default-v9">Get Started</a>
  					</div><!--banner-slide-v9 end-->
  					<div class="banner-slide-v9">
  						<span>Rewared for your trust</span>
  						<h2><span>Building The Right</span> Foundations</h2>
  						<p>Like any great agency, we are only as good as the result we deliver of our recent work</p>
  						<a href="#" title="" class="btn-default-v9">Get Started</a>
  					</div><!--banner-slide-v9 end-->
  					<div class="banner-slide-v9">
  						<span>Rewared for your trust</span>
  						<h2><span>Building The Right</span> Foundations</h2>
  						<p>Like any great agency, we are only as good as the result we deliver of our recent work</p>
  						<a href="#" title="" class="btn-default-v9">Get Started</a>
  					</div><!--banner-slide-v9 end-->
  				</div><!--banner-slider-v9 end-->
  			</div>
  		</section><!--main-banner-v9 end-->

      <section class="about-v9">
        <div class="container">
          <div class="abt-v9-cntr">
            <div class="row align-items-center">
              <div class="col-lg-6">
                <div class="call-us-v9">
                  <span class="icon-v9"><i class="lni lni-phone"></i></span>
                  <h4>call us directly</h4>
                  <h3>(+37) 96 3548 68</h3>
                </div>
                <!--call-us-v9 end-->
              </div>
              <div class="col-lg-6">
                <ul class="cl-ordr" id="counter">
                  <li>
                    <h3 class="count">2560</h3>
                    <span>Happy Clients in 25 years</span>
                  </li>
                  <li>
                    <h3 class="count">42680</h3>
                    <span>Projects completed on the worldwide</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <!--abt-v9-cntr end-->
        </div>
      </section>
      <!-- about-v9 end-->

      <section class="about-v9-content">
        <div class="container-fluid">
          <div class="about-v9-row">
            <div class="ban-img-v9">
              <img src="assets/img/ban-img6.png" alt="" />
            </div>
            <!--ban-img-v9 end-->
            <div
              class="about-v9-txt wow fadeInUp"
              data-wow-duration="1000ms"
              data-wow-delay="0ms"
            >
              <span>about us</span>
              <h2><span>Optimized</span> <br />For Your Business Better</h2>
              <p>
                Leverage agile frameworks to provide a robust synopsis for high
                level overviews. Iterative approaches to corporate strategy
                foster collaborative thinking to further the overall value
                proposition.
              </p>
              <a href="24_about_agency.html" title="" class="btn-default-v9 v2"
                >Learn More</a
              >
              <a
                href="https://www.youtube.com/watch?v=vw6QmjPpdy4"
                title=""
                class="view-btn html5lightbox"
              >
                <span class="pl-btn"><i class="lni lni-play"></i></span>
                <span class="vt">view our story</span>
              </a>
            </div>
            <!--about-v9-txt end-->
          </div>
        </div>
      </section>
      <!--about-v9-content end-->

      <section class="services-v9">
        <div class="container">
          <div
            class="title-v9 text-center wow fadeInUp"
            data-wow-duration="1000ms"
            data-wow-delay="0ms"
          >
            <span>what we can help</span>
            <h2><span>Delivering End-to-End</span> Company Solutions Online</h2>
          </div>
          <!--title-v9 end-->
          <div class="row services_v9">
            <div class="col-lg-4 col-md-6">
              <div class="service-v9">
                <span class="s-icon"><i class="lni lni-crown"></i></span>
                <h3>
                  <a href="17_portfolio_single_layout_1.html" title=""
                    >Solicitory</a
                  >
                </h3>
                <p>
                  Nanotechnology immersion along the information highway will
                  close the loop on focusing solely
                </p>
                <span class="s-category">case study</span>
              </div>
              <!--service-v9 end-->
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="service-v9">
                <span class="s-icon"><i class="lni lni-crown"></i></span>
                <h3>
                  <a href="17_portfolio_single_layout_1.html" title=""
                    >Business Planning</a
                  >
                </h3>
                <p>
                  Podcasting operational change management inside of workflows
                  to establish a framework.
                </p>
                <span class="s-category">case study</span>
              </div>
              <!--service-v9 end-->
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="service-v9">
                <span class="s-icon"><i class="lni lni-crown"></i></span>
                <h3>
                  <a href="17_portfolio_single_layout_1.html" title=""
                    >Strategy</a
                  >
                </h3>
                <p>
                  Dynamically innovate resource-leveling customer service for
                  state of the art customer service.
                </p>
                <span class="s-category">case study</span>
              </div>
              <!--service-v9 end-->
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="service-v9">
                <span class="s-icon"><i class="lni lni-crown"></i></span>
                <h3>
                  <a href="17_portfolio_single_layout_1.html" title=""
                    >Human Resources</a
                  >
                </h3>
                <p>
                  Nanotechnology immersion along the information highway will
                  close the loop on focusing solely
                </p>
                <span class="s-category">case study</span>
              </div>
              <!--service-v9 end-->
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="service-v9">
                <span class="s-icon"><i class="lni lni-crown"></i></span>
                <h3>
                  <a href="17_portfolio_single_layout_1.html" title=""
                    >Startup</a
                  >
                </h3>
                <p>
                  Nanotechnology immersion along the information highway will
                  close the loop on focusing solely
                </p>
                <span class="s-category">case study</span>
              </div>
              <!--service-v9 end-->
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="sv-text-v9">
                <h2>
                  “Our Avantage can help you with picking out the best people
                  for your company.”
                </h2>
                <img src="assets/img/sign2.png" alt="" />
                <span>Founder at Misulting</span>
              </div>
              <!--sv-text-v9 end-->
            </div>
          </div>
          <!--services_v9 end-->
        </div>
      </section>
      <!--services-v9 end-->

      <section class="why-us-v9">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="why-txt-v9">
                <div class="title-v9">
                  <span>why choose us</span>
                  <h2><span>Different Value</span> Created Us</h2>
                </div>
                <!--title-v9 end-->
                <ul>
                  <li>
                    <div class="us-svs">
                      <span class="svs-icon">
                        <i class="lni lni-money-protection"></i>
                      </span>
                      <div class="svs-info">
                        <h3>Affordable Price</h3>
                        <p>
                          Nanotechnology immersion along the information highway
                          will close the loop on focusing solely
                        </p>
                      </div>
                    </div>
                    <!--us-svs end-->
                  </li>
                  <li>
                    <div class="us-svs">
                      <span class="svs-icon">
                        <i class="lni lni-crown"></i>
                      </span>
                      <div class="svs-info">
                        <h3>Top-notch Experts Consulting</h3>
                        <p>
                          Nanotechnology immersion along the information highway
                          will close the loop on focusing solely
                        </p>
                      </div>
                    </div>
                    <!--us-svs end-->
                  </li>
                  <li>
                    <div class="us-svs">
                      <span class="svs-icon">
                        <i class="lni lni-comments-reply"></i>
                      </span>
                      <div class="svs-info">
                        <h3>Dedicated Support 24/7</h3>
                        <p>
                          Nanotechnology immersion along the information highway
                          will close the loop on focusing solely
                        </p>
                      </div>
                    </div>
                    <!--us-svs end-->
                  </li>
                </ul>
              </div>
              <!--why-txt-v9 end-->
            </div>
            <div class="col-lg-6">
              <div
                class="wy-img wow fadeInRight"
                data-wow-duration="1000ms"
                data-wow-delay="0ms"
              >
                <img src="/assets/img/ban-img7.png" alt="" />
              </div>
              <!--wy-img end-->
            </div>
          </div>
        </div>
      </section>
      <!--why-us-v9 end-->
      {% include testimonial/consulting.html %}
      <section class="team-sec v9">
        <div class="container">
          <div class="team-sec-content">
            <div class="row align-items-center">
              <div class="col-lg-7">
                <div
                  class="team-thumb wow zoomIn"
                  data-wow-duration="1000ms"
                  data-wow-delay="0ms"
                >
                  <img src="assets/img/img5.png" alt="" />
                </div>
                <!--testi-thumbe end-->
              </div>
              <div class="col-lg-5">
                <div class="team-info">
                  <div class="title-v9">
                    <span>TEam</span>
                    <h2><span>Meet</span> Our Experts</h2>
                  </div>
                  <!--title-v9 end-->
                  <p>
                    Meet our talented team of creatives, fun-lovers, and magic
                    makers. Shall seas yielding a he, moveth said gathering
                    under all cattle were years fruit whose isn’t.
                  </p>
                  <a href="32_team.html" title="" class="btn-default-v9 v2"
                    >Learn More</a
                  >
                </div>
                <!--testi-info end-->
              </div>
            </div>
          </div>
          <!--test-sec-content end-->
        </div>
      </section>

      <section class="blog-section-v7 v9">
        <div class="container">
          <div
            class="title-v9 text-center wow fadeInUp"
            data-wow-duration="1000ms"
            data-wow-delay="0ms"
          >
            <span>our press</span>
            <h2><span>Latest</span> Articles</h2>
          </div>
          <!--title-v9 end-->
          <div class="blog-posts-v7">
            <div class="row">
              {% for blog in site.blog limit: 3 %}
              <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog-post-v7">
                  <div class="blog-thumbnail">
                    <img src="{{blog.layout_image}}" alt="" class="w-100" />
                  </div>
                  <div class="blog-info">
                    <ul class="meta">
                      <li>
                        <a
                          >{{ page.date | date_to_long_string: "ordinal", "US"
                          }}</a
                        >
                      </li>
                    </ul>
                    <h2>
                      <a href="{{blog.url}}" title="">{{blog.title}}</a>
                    </h2>
                  </div>
                </div>
                <!--blog-post-v7 end-->
              </div>
              {% endfor %}
            </div>
          </div>
          <!--blog-posts-v7 end-->
        </div>
      </section>

      {% include footer/footer-consulting.html %}
      <!--footer end-->
    </div>
    <!--wrapper end-->

    <script src="/assets/js/bundle.min.js"></script>
    {% include chat-script.html %}

  </body>
</html>
