<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    <div class="wrapper">
      {% include header/header-portfolio.html %}
      <!--header end-->

      <div id="pagepiling">
        <div class="section pp-scrollable">
          <div class="slide-container">
            <h2 class="page-num">Hello</h2>
            <div class="fixed-bg bg-1"></div>
            <div class="container">
              <div class="sl-content">
                <div class="row align-items-center">
                  <div class="col-lg-6 col-md-6">
                    <div
                      class="sl-text wow fadeInUp"
                      data-wow-duration="1000ms"
                      data-wow-delay="0ms"
                    >
                      <h2>Where your ideas evolve into products</h2>
                      <span
                        >miloose creative digtal <br />
                        studio</span
                      >
                      <p>
                        Like any great agency, we are only as good as the result
                        we deliver of our recent work
                      </p>
                      <a href="#" title="" class="btn-default-v12"
                        >Get started</a
                      >
                    </div>
                    <!--sl-text end-->
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <div
                      class="bnm-img wow zoomIn"
                      data-wow-duration="1000ms"
                      data-wow-delay="0ms"
                    >
                      <img src="assets/img/bn-img1.png" alt="" />
                      <a
                        href="https://www.youtube.com/watch?v=vw6QmjPpdy4"
                        title=""
                        class="viz-btn html5lightbox"
                      >
                        <i class="lni lni-play"></i>
                        <span>See our story</span>
                      </a>
                    </div>
                    <!--bnm-img end-->
                  </div>
                </div>
              </div>
              <!--sl-content end-->
            </div>
          </div>
        </div>
        <div class="section pp-scrollable">
          <div class="slide-container">
            <h2 class="page-num">services</h2>
            <div class="fixed-bg bg-white"></div>
            <div class="misson-section-v8">
              <div class="container">
                <div class="mission-sec">
                  <div class="row">
                    <div class="col-xl-6">
                      <div
                        class="crlce-misz wow fadeInUp"
                        data-wow-duration="1000ms"
                        data-wow-delay="0ms"
                      >
                        <ul class="crlce-list">
                          <li class="v1 clr-v1">
                            <div class="crlce-info">
                              <i class="lni lni-crown"></i>
                              <h3>
                                Branding <br />
                                Identity
                              </h3>
                            </div>
                            <div class="crlce-img">
                              <img src="assets/img/crcle-img1.png" alt="" />
                            </div>
                            <!--crlce-img end-->
                          </li>
                          <li class="v2 clr-v2">
                            <div class="crlce-info">
                              <i class="lni lni-layout"></i>
                              <h3>
                                UI/UX <br />
                                Interaction
                              </h3>
                            </div>
                            <div class="crlce-img">
                              <img src="assets/img/crcle-img2.png" alt="" />
                            </div>
                            <!--crlce-img end-->
                          </li>
                          <li class="v3 clr-v3">
                            <div class="crlce-info">
                              <i class="lni lni-video"></i>
                              <h3>
                                Motion <br />
                                Video
                              </h3>
                            </div>
                            <div class="crlce-img">
                              <img src="assets/img/crcle-img3.png" alt="" />
                            </div>
                            <!--crlce-img end-->
                          </li>
                        </ul>
                        <!--crlce-list end-->
                      </div>
                      <!--crlce-misz end-->
                    </div>
                    <div class="col-xl-6">
                      <div class="vlm-text">
                        <h2>We provide trusted solutions for your business</h2>
                        <span
                          >“We know good design meant that good business.”</span
                        >
                        <p>
                          We help our client suceed by creating identities,
                          digital experiences, and printmaterials that
                          communicate clearly, achieve marketing goals & look
                          fantastic
                        </p>
                        <a
                          href="24_about_agency.html"
                          title=""
                          class="btn-default-v12 no-bg"
                          >Learn More</a
                        >
                        <span class="ps-txt"
                          >If you're hurry, quick call for us. Our supporters
                          alway 24/7
                        </span>
                        <div class="wd-inz">
                          <span class="cinon"
                            ><i class="lni lni-phone"></i
                          ></span>
                          <div class="wl-info">
                            <span>hotline 24/7</span>
                            <h3>+65 - 3002 56 56 376</h3>
                          </div>
                        </div>
                      </div>
                      <!--vlm-text end-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section pp-scrollable">
          <div class="slide-container">
            <h2 class="page-num">Cases</h2>
            <div class="fixed-bg bg-gray"></div>
            <div class="latest-projects-v12">
              <div class="container">
                <h3 class="ld-head">latest projects</h3>
                <div class="projects-list-v12">
                  <div class="projects-head-top">
                    <div class="projectt-info">
                      <h2>
                        <a href="#" title="">Fayer <br />Fov</a>
                      </h2>
                      <span>2020 / Interaction</span>
                      <div class="project-thumbnail">
                        <img src="assets/img/pr-thumb1.jpg" alt="" />
                      </div>
                    </div>
                    <div class="projectt-info v2 ml-auto">
                      <h2>
                        <a href="#" title="">Lumio Email <br />Marketing</a>
                      </h2>
                      <span>2018 / interaction, motion</span>
                      <div class="project-thumbnail">
                        <img src="assets/img/pr-thumb1.jpg" alt="" />
                      </div>
                    </div>
                  </div>
                  <!--projects-head-top end-->
                  <div class="projects-head-top">
                    <div class="projectt-info">
                      <h2><a href="#" title="">Arquito</a></h2>
                      <span>2017 / Interaction, branding</span>
                      <div class="project-thumbnail">
                        <img src="assets/img/pr-thumb1.jpg" alt="" />
                      </div>
                    </div>
                    <div class="projectt-info v3">
                      <h2>
                        <a href="#" title="">Lewis <br />Mobile</a>
                      </h2>
                      <span>2017 / Interaction, Illustration</span>
                      <div class="project-thumbnail">
                        <img src="assets/img/pr-thumb1.jpg" alt="" />
                      </div>
                    </div>
                    <div class="more-projects">
                      <a href="#" title="">more <br />projects</a>
                    </div>
                    <!--more-projects end-->
                  </div>
                  <!--projects-head-top end-->
                </div>
                <!--projects-list-v12 end-->
              </div>
            </div>
            <!--latest-projects-v12 end-->
          </div>
        </div>
        <!--latest-projects end-->
        <div class="section pp-scrollable">
          <div class="slide-container">
            <h2 class="page-num">Partners</h2>
            <div class="fixed-bg bg-white"></div>
            <div class="clients-sec-v3 pb-0">
              <div class="container">
                <div class="section-title-v3">
                  <h2>The trust from client make our value</h2>
                  <span
                    >Work with many big brands, brings for me great
                    experience.</span
                  >
                </div>
                <!--section-title end-->
                <div class="client-works client-slider">
                  {% for logo in site.data.clients.clients-v3 %}
                  <div class="col-m-2">
                    <div class="cl-imag">
                      <img src="{{ logo.image}}" alt="" />
                    </div>
                  </div>
                  {% endfor %}
                </div>
                <ul class="counter-sec border-bottom" id="counter">
                  <li>
                    <div class="count-dv">
                      <h2 class="count">10</h2>
                      <span>Years Experience</span>
                    </div>
                  </li>
                  <li>
                    <div class="count-dv">
                      <h2 class="count">102</h2>
                      <span>Satisfaction Clients</span>
                    </div>
                  </li>
                  <li>
                    <div class="count-dv">
                      <h2 class="count">285</h2>
                      <span
                        >Projects Completed On <br />
                        34 Countries</span
                      >
                    </div>
                  </li>
                </ul>
                <!--counter-sec end-->
              </div>
            </div>
          </div>
        </div>
        <div class="section pp-scrollable">
          <div class="slide-container">
            <div class="fixed-bg bg-gray"></div>
            <h2 class="page-num">Testimonials</h2>
            <div class="testi-v3-sec v7">
              <div class="container">
                <div class="row align-items-center">
                  <div class="col-lg-7 col-md-12">
                    <div class="testi-bg">
                      <img src="/assets/img/testi-bg.png" alt="" />
                      <ul class="testi-thumbs">
                        {% for testimonials in site.data.testimonials.testimonials %}
                        <li
                          data-tab="{{ testimonials.id}}"
                          class="{{ testimonials.imag-class}} {{ testimonials.class}}"
                        >
                          <img src="{{ testimonials.image}}" alt="" />
                        </li>
                        {% endfor %}
                      </ul>
                      <!--testi-bg end-->
                    </div>
                    <!--test-bg end-->
                  </div>
                  <div class="col-lg-5 col-md-12">
                    <div class="testi-v3-slider">
                      {% for testimonials in site.data.testimonials.testimonials %}
                      <div
                        class="testi-v3-slide {{ testimonials.class}}"
                        id="{{ testimonials.id}}"
                      >
                        <span class="t-icon"
                          ><i class="lni lni-quotation"></i
                        ></span>
                        <p>{{ testimonials.content}}</p>
                        <h3>{{ testimonials.name}}</h3>
                        <span>{{ testimonials.designation }}</span>
                      </div>
                      {% endfor %}
                      <!--testi-v3-slide end-->
                    </div>
                    <!--testi-v3-slider end-->
                  </div>
                </div>
              </div>
            </div>
            <!--testi-v3-sec end-->
          </div>
        </div>
        <div class="section pp-scrollable">
          <div class="slide-container">
            <div class="fixed-bg bg-white"></div>
            <h2 class="page-num">Awards</h2>
            <div class="container">
              <div class="sec-title-v5">
                <h2>Rewards for our efforts</h2>
                <span
                  >It's always good to receive positive and constructive
                  feedback for your work - from clients and moreover, from
                  designers!</span
                >
              </div>
              <div class="certicications-sec pp-scrollable">
                <div class="certificate-details">
                  <span class="date">2020</span>
                  <div class="awd-logo">
                    <img src="assets/img/awd1.png" alt="" />
                  </div>
                  <div class="awd-list">
                    <div class="row">
                      <div class="col-lg-8">
                        <div class="awd-info">
                          <h3>SOTY 2020</h3>
                          <span>Faye Fo Website Redesign</span>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <a href="#" title="" class="web-link"
                          >www.fayefo.co.uk</a
                        >
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-8">
                        <div class="awd-info">
                          <h3>Mobile Excellence</h3>
                          <span>Nike Workout App</span>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <a href="#" title="" class="web-link"
                          >www.nike-workout.io</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <!--certificate-details end-->
                <div class="certificate-details">
                  <span class="date">2019</span>
                  <div class="awd-logo">
                    <img src="assets/img/awd2.png" alt="" />
                  </div>
                  <div class="awd-list">
                    <div class="row">
                      <div class="col-lg-8">
                        <div class="awd-info">
                          <h3>Websites Of The Year 2019</h3>
                          <span>Focus - Financial Management System</span>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <a href="#" title="" class="web-link">www.focus.com</a>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-8">
                        <div class="awd-info">
                          <h3>Websites Of The Month, August 2019</h3>
                          <span>Lewis Creative Agency</span>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <a href="#" title="" class="web-link"
                          >www.lewisstudio.com</a
                        >
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-8">
                        <div class="awd-info">
                          <h3>Best 20 Websites Favourite 2019</h3>
                          <span>Arquito Architeture &amp; Interior Firm</span>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <a href="#" title="" class="web-link">www.arquito.pl</a>
                      </div>
                    </div>
                  </div>
                </div>
                <!--certificate-details end-->
                <div class="certificate-details">
                  <span class="date">2018</span>
                  <div class="awd-logo">
                    <img src="assets/img/awd3.png" alt="" />
                  </div>
                  <div class="awd-list">
                    <div class="row">
                      <div class="col-lg-8">
                        <div class="awd-info">
                          <h3>Winner Portfolio Review United States</h3>
                          <span>Summit Spa Brand</span>
                        </div>
                      </div>
                      <div class="col-lg-4">
                        <a href="#" title="" class="web-link"
                          >www.submitspa.com.us</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <!--certificate-details end-->
              </div>
            </div>
          </div>
        </div>
        <div class="section pp-scrollable">
          <div class="slide-container">
            <div class="fixed-bg bg-gray"></div>
            <h2 class="page-num">Contact</h2>
            <div class="contact-piling">
              <div class="container">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="map-address">
                      <h3>Brooklyn, <span>New York</span></h3>
                      <p>
                        962 Fifth Avenue Str, 3rd Floor-Trump Building NY 10006,
                        United State.
                      </p>
                      <span class="mail"
                        >Email:
                        <a href="mailto:example@example.com" title=""
                          >info@milesstudio.co</a
                        ></span
                      >
                      <span class="call-dir">Call directly:</span>
                      <h2 class="phone">+8(663)125-08-59</h2>
                      <div class="office-addrs">
                        <h3>Brand Offices:</h3>
                        <ul>
                          <li><a href="#" title="">Allentown PA</a></li>
                          <li><a href="#" title="">Allanta, GA</a></li>
                          <li><a href="#" title="">Chicago, IL</a></li>
                          <li><a href="#" title="">Dallas, TX</a></li>
                          <li><a href="#" title="">Edison, NJ</a></li>
                          <li><a href="#" title="">Houston, TX</a></li>
                        </ul>
                      </div>
                    </div>
                    <!--map-address end-->
                  </div>
                  <div class="col-lg-6">
                    <div class="mile-contect-form">
                      <h2>Kick-start your project now</h2>
                      <form>
                        <input
                          type="text"
                          name="name"
                          placeholder="Full Name"
                        />
                        <input
                          type="text"
                          name="email"
                          placeholder="Email Address"
                        />
                        <input
                          type="text"
                          name="subject"
                          placeholder="Subject (optional)"
                        />
                        <textarea
                          name="message"
                          placeholder="Your Message"
                        ></textarea>
                        <button type="submit" class="btn-default-v12">
                          Send Message
                        </button>
                      </form>
                    </div>
                    <!--mile-contect-form end-->
                  </div>
                </div>
              </div>
            </div>
            <!--contact-piling end-->
          </div>
        </div>
      </div>
      <!--page-pillinge-content end-->

      <ul class="social-vertical v12">
        <li>
          <a href="#" title=""><i class="fab fa-twitter"></i></a>
        </li>
        <li>
          <a href="#" title=""><i class="fab fa-behance"></i></a>
        </li>
        <li>
          <a href="#" title=""><i class="fab fa-instagram"></i></a>
        </li>
      </ul>
      <!--social-vertical end-->

      <div class="py-text">
        <p>
          © miles 2020 <br />
          All Rights Reserved
        </p>
      </div>
      <!--py-text end-->
    </div>
    <!--wrapper end-->

    <script src="/assets/js/bundle.min.js"></script>
  </body>
</html>
