<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    <div class="wrapper">
      {% include header/header-agency.html %}

      <section class="banner-v8">
        <div class="container">
          <div class="banner-v8-content">
            <div class="row">
              {% assign banner = page.banner %}
              <div class="col-lg-5">
                <div
                  class="banner-txt-v8 wow fadeInUp"
                  data-wow-duration="1000ms"
                  data-wow-delay="0ms"
                >
                  <h2>{{ banner.title }}</h2>
                  <p>{{ banner.content }}</p>
                  {% assign button = banner.button %}
                  <a href="{{ button.link }}" title="" class="btn-default-v8"
                    >{{ button.label }}</a
                  >
                </div>
                <!--banner-txt end-->
                <div class="banner-wid">
                  <p>{{ banner.call-to }}</p>
                  <div class="wd-inz">
                    <span class="cinon"><i class="lni lni-phone"></i></span>
                    <div class="wl-info">
                      <span>hotline 24/7</span>
                      <h3>{{ site.data.settings.contact_settings.phone_number }}</h3>
                    </div>
                  </div>
                </div>
                <!--banner-wid end-->
              </div>
              <div class="col-lg-7">
                <div
                  class="banner-img-v8 wow zoomIn"
                  data-wow-duration="1000ms"
                  data-wow-delay="0ms"
                >
                  <img src="{{ banner.image }}" alt="" />
                </div>
                <!--banner-img-v8 end-->
              </div>
            </div>
          </div>
          <!--banner-v8-content end-->
        </div>
      </section>
      <!--banner-v8 end-->

      <section class="misson-section-v8">
        <div class="container">
          <div class="mission-sec">
            <div class="row">
              {% assign about_section = page.about_section %}
              <div class="col-xl-6">
                <div
                  class="crlce-misz wow zoomIn"
                  data-wow-duration="1000ms"
                  data-wow-delay="0ms"
                >
                  <ul class="crlce-list">
                    <li class="v1">
                      <div class="crlce-info">
                        <i class="{{ about_section.icon1 }}"></i>
                        <h3>{{ about_section.label1 }}</h3>
                      </div>
                      <div class="crlce-img">
                        <img src="{{ about_section.image1 }}" alt="" />
                      </div>
                      <!--crlce-img end-->
                    </li>
                    <li class="v2">
                      <div class="crlce-info">
                        <i class="{{ about_section.icon2 }}"></i>
                        <h3>{{ about_section.label2 }}</h3>
                      </div>
                      <div class="crlce-img">
                        <img src="{{ about_section.image2 }}" alt="" />
                      </div>
                      <!--crlce-img end-->
                    </li>
                    <li class="v3">
                      <div class="crlce-info">
                        <i class="{{ about_section.icon3 }}"></i>
                        <h3>{{ about_section.label3 }}</h3>
                      </div>
                      <div class="crlce-img">
                        <img src="{{ about_section.image3 }}" alt="" />
                      </div>
                      <!--crlce-img end-->
                    </li>
                  </ul>
                  <!--crlce-list end-->
                </div>
                <!--crlce-misz end-->
              </div>
              {% assign content_area = page.content_area %}
              <div class="col-xl-6">
                <div class="vlm-text">
                  <h2>{{ content_area.title}}</h2>
                  <span>“{{ content_area.label}}”</span>
                  <p>{{ content_area.content }}</p>
                  <a
                    href="{{ content_area.link }}"
                    title=""
                    class="btn-default-v8 v2"
                    >{{ content_area.button }}</a
                  >
                </div>
                <!--vlm-text end-->
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--mission-section-v8 end-->

      <section class="grow-business-v8">
        <div class="container">
          <div class="grw-content-v8">
            {% assign section_2 = page.section_2 %}
            <div class="row align-items-center">
              {% assign right_area = section_2.right_area %}
              <div class="col-lg-5">
                <div
                  class="gr-text wow fadeInUp"
                  data-wow-duration="1000ms"
                  data-wow-delay="0ms"
                >
                  <h2>{{ right_area.title}}</h2>
                  <h4>{{ right_area.label}}</h4>
                  <p>{{ right_area.content}}</p>
                  <a
                    href="{{ right_area.link}}"
                    title=""
                    class="btn-default-v8 v2"
                    >{{ right_area.button }}</a
                  >
                  <a
                    href="{{ right_area.video}}"
                    title=""
                    class="view-btn html5lightbox"
                  >
                    <span class="pl-btn"><i class="lni lni-play"></i></span>
                    <span class="vt">view our story</span>
                  </a>
                </div>
                <!--gr-text end-->
              </div>

              {% assign left_area = section_2.left_area %}
              <div class="col-lg-7">
                <div class="gw-img">
                  <img src="{{ left_area.image}}" alt="" />
                  <div class="gw-text">
                    <h1>{{ left_area.big_text}}</h1>
                    <h2>{{ left_area.text_content}}</h2>
                    <h3>{{ left_area.label}}</h3>
                  </div>
                  <!--gw-text end-->
                </div>
                <!--gw-img end-->
              </div>
            </div>
          </div>
          <!--grw-content-v8 end-->
          {% assign count = page.count %}
          <ul
            class="counter-sec-v6 wow fadeInUp"
            id="counter"
            data-wow-duration="1000ms"
            data-wow-delay="0ms"
          >
            <li>
              <div class="counter-cont">
                <h2 class="clr1 count">{{ count.counter_number_1}}</h2>
                <span>{{ count.counter_title_1}}</span>
              </div>
              <!--counter-cont end-->
            </li>
            <li>
              <div class="counter-cont">
                <h2 class="clr2 count">{{ count.counter_number_2}}</h2>
                <span>{{ count.counter_title_2}}</span>
              </div>
              <!--counter-cont end-->
            </li>
            <li>
              <div class="counter-cont">
                <h2 class="clr3 count">{{ count.counter_number_3}}</h2>
                <span>{{ count.counter_title_3}}</span>
              </div>
              <!--counter-cont end-->
            </li>
          </ul>
        </div>
      </section>
      <!--grow-business-v8 end-->

      <section class="projects-v8">
        <div class="container">
          <div class="title-v8 text-center">
            <h2>Our Latest Projects</h2>
          </div>
          <!--title-v8 end-->
          <div class="projects-tab-sec">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  id="all-tab"
                  data-toggle="tab"
                  href="#all"
                  role="tab"
                  aria-controls="all"
                  aria-selected="true"
                  >all</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="website-tab"
                  data-toggle="tab"
                  href="#website"
                  role="tab"
                  aria-controls="website"
                  aria-selected="false"
                  >Website seo</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="fb-tab"
                  data-toggle="tab"
                  href="#fb"
                  role="tab"
                  aria-controls="fb"
                  aria-selected="false"
                  >fb/gg ads</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="marketing-tab"
                  data-toggle="tab"
                  href="#marketing"
                  role="tab"
                  aria-controls="marketing"
                  aria-selected="false"
                  >email marketing</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="webdesign-tab"
                  data-toggle="tab"
                  href="#webdesign"
                  role="tab"
                  aria-controls="webdesign"
                  aria-selected="false"
                  >web design</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="videoviral-tab"
                  data-toggle="tab"
                  href="#video"
                  role="tab"
                  aria-controls="videoviral-tab"
                  aria-selected="false"
                  >video viral</a
                >
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div
                class="tab-pane fade show active"
                id="all"
                role="tabpanel"
                aria-labelledby="all-tab"
              >
                <div class="row projects-sliders">
                  <div class="col-lg-4">
                    <div class="project-slide">
                      <img src="assets/img/project1.jpg" alt="" class="w-100" />
                      <div class="project-slide-info">
                        <h3>
                          <a href="17_portfolio_single_layout_1.html" title=""
                            >Taskly Dashboard</a
                          >
                        </h3>
                        <p>
                          BibliU is a digital platform that provides university
                          students with personalized learning pathways..
                        </p>
                      </div>
                      <span class="category">Website SEO</span>
                      <a href="#" title="" class="share"
                        ><i class="lni lni-share"></i
                      ></a>
                    </div>
                    <!--project-slide end-->
                  </div>
                  <div class="col-lg-4">
                    <div class="project-slide">
                      <img src="assets/img/project2.jpg" alt="" class="w-100" />
                      <div class="project-slide-info">
                        <h3>
                          <a href="17_portfolio_single_layout_1.html" title=""
                            >Taskly Dashboard</a
                          >
                        </h3>
                        <p>
                          BibliU is a digital platform that provides university
                          students with personalized learning pathways..
                        </p>
                      </div>
                      <span class="category">Website SEO</span>
                      <a href="#" title="" class="share"
                        ><i class="lni lni-share"></i
                      ></a>
                    </div>
                    <!--project-slide end-->
                  </div>
                  <div class="col-lg-4">
                    <div class="project-slide">
                      <img src="assets/img/project3.jpg" alt="" class="w-100" />
                      <div class="project-slide-info">
                        <h3>
                          <a href="17_portfolio_single_layout_1.html" title=""
                            >Taskly Dashboard</a
                          >
                        </h3>
                        <p>
                          BibliU is a digital platform that provides university
                          students with personalized learning pathways..
                        </p>
                      </div>
                      <span class="category">Website SEO</span>
                      <a href="#" title="" class="share"
                        ><i class="lni lni-share"></i
                      ></a>
                    </div>
                    <!--project-slide end-->
                  </div>
                  <div class="col-lg-4">
                    <div class="project-slide">
                      <img src="assets/img/project1.jpg" alt="" class="w-100" />
                      <div class="project-slide-info">
                        <h3>
                          <a href="17_portfolio_single_layout_1.html" title=""
                            >Taskly Dashboard</a
                          >
                        </h3>
                        <p>
                          BibliU is a digital platform that provides university
                          students with personalized learning pathways..
                        </p>
                      </div>
                      <span class="category">Website SEO</span>
                      <a href="#" title="" class="share"
                        ><i class="lni lni-share"></i
                      ></a>
                    </div>
                    <!--project-slide end-->
                  </div>
                  <div class="col-lg-4">
                    <div class="project-slide">
                      <img src="assets/img/project2.jpg" alt="" class="w-100" />
                      <div class="project-slide-info">
                        <h3>
                          <a href="17_portfolio_single_layout_1.html" title=""
                            >Taskly Dashboard</a
                          >
                        </h3>
                        <p>
                          BibliU is a digital platform that provides university
                          students with personalized learning pathways..
                        </p>
                      </div>
                      <span class="category">Website SEO</span>
                      <a href="#" title="" class="share"
                        ><i class="lni lni-share"></i
                      ></a>
                    </div>
                    <!--project-slide end-->
                  </div>
                  <div class="col-lg-4">
                    <div class="project-slide">
                      <img src="assets/img/project3.jpg" alt="" class="w-100" />
                      <div class="project-slide-info">
                        <h3>
                          <a href="17_portfolio_single_layout_1.html" title=""
                            >Taskly Dashboard</a
                          >
                        </h3>
                        <p>
                          BibliU is a digital platform that provides university
                          students with personalized learning pathways..
                        </p>
                      </div>
                      <span class="category">Website SEO</span>
                      <a href="#" title="" class="share"
                        ><i class="lni lni-share"></i
                      ></a>
                    </div>
                    <!--project-slide end-->
                  </div>
                </div>
                <!--projects-sliders end-->
              </div>
              <div
                class="tab-pane fade"
                id="website"
                role="tabpanel"
                aria-labelledby="website-tab"
              >
                <div class="row projects-sliders">
                  <div class="col-lg-4">
                    <div class="project-slide">
                      <img src="assets/img/project1.jpg" alt="" class="w-100" />
                      <div class="project-slide-info">
                        <h3>
                          <a href="17_portfolio_single_layout_1.html" title=""
                            >Taskly Dashboard</a
                          >
                        </h3>
                        <p>
                          BibliU is a digital platform that provides university
                          students with personalized learning pathways..
                        </p>
                      </div>
                      <span class="category">Website SEO</span>
                      <a href="#" title="" class="share"
                        ><i class="lni lni-share"></i
                      ></a>
                    </div>
                    <!--project-slide end-->
                  </div>
                  <div class="col-lg-4">
                    <div class="project-slide">
                      <img src="assets/img/project2.jpg" alt="" class="w-100" />
                      <div class="project-slide-info">
                        <h3>
                          <a href="17_portfolio_single_layout_1.html" title=""
                            >Taskly Dashboard</a
                          >
                        </h3>
                        <p>
                          BibliU is a digital platform that provides university
                          students with personalized learning pathways..
                        </p>
                      </div>
                      <span class="category">Website SEO</span>
                      <a href="#" title="" class="share"
                        ><i class="lni lni-share"></i
                      ></a>
                    </div>
                    <!--project-slide end-->
                  </div>
                  <div class="col-lg-4">
                    <div class="project-slide">
                      <img src="assets/img/project3.jpg" alt="" class="w-100" />
                      <div class="project-slide-info">
                        <h3>
                          <a href="17_portfolio_single_layout_1.html" title=""
                            >Taskly Dashboard</a
                          >
                        </h3>
                        <p>
                          BibliU is a digital platform that provides university
                          students with personalized learning pathways..
                        </p>
                      </div>
                      <span class="category">Website SEO</span>
                      <a href="#" title="" class="share"
                        ><i class="lni lni-share"></i
                      ></a>
                    </div>
                    <!--project-slide end-->
                  </div>
                  <div class="col-lg-4">
                    <div class="project-slide">
                      <img src="assets/img/project1.jpg" alt="" class="w-100" />
                      <div class="project-slide-info">
                        <h3>
                          <a href="17_portfolio_single_layout_1.html" title=""
                            >Taskly Dashboard</a
                          >
                        </h3>
                        <p>
                          BibliU is a digital platform that provides university
                          students with personalized learning pathways..
                        </p>
                      </div>
                      <span class="category">Website SEO</span>
                      <a href="#" title="" class="share"
                        ><i class="lni lni-share"></i
                      ></a>
                    </div>
                    <!--project-slide end-->
                  </div>
                  <div class="col-lg-4">
                    <div class="project-slide">
                      <img src="assets/img/project2.jpg" alt="" class="w-100" />
                      <div class="project-slide-info">
                        <h3>
                          <a href="17_portfolio_single_layout_1.html" title=""
                            >Taskly Dashboard</a
                          >
                        </h3>
                        <p>
                          BibliU is a digital platform that provides university
                          students with personalized learning pathways..
                        </p>
                      </div>
                      <span class="category">Website SEO</span>
                      <a href="#" title="" class="share"
                        ><i class="lni lni-share"></i
                      ></a>
                    </div>
                    <!--project-slide end-->
                  </div>
                  <div class="col-lg-4">
                    <div class="project-slide">
                      <img src="assets/img/project3.jpg" alt="" class="w-100" />
                      <div class="project-slide-info">
                        <h3>
                          <a href="17_portfolio_single_layout_1.html" title=""
                            >Taskly Dashboard</a
                          >
                        </h3>
                        <p>
                          BibliU is a digital platform that provides university
                          students with personalized learning pathways..
                        </p>
                      </div>
                      <span class="category">Website SEO</span>
                      <a href="#" title="" class="share"
                        ><i class="lni lni-share"></i
                      ></a>
                    </div>
                    <!--project-slide end-->
                  </div>
                </div>
                <!--projects-sliders end-->
              </div>
              <div
                class="tab-pane fade"
                id="fb"
                role="tabpanel"
                aria-labelledby="fb-tab"
              >
                <div class="row projects-sliders">
                  <div class="col-lg-4">
                    <div class="project-slide">
                      <img src="assets/img/project1.jpg" alt="" class="w-100" />
                      <div class="project-slide-info">
                        <h3>
                          <a href="17_portfolio_single_layout_1.html" title=""
                            >Taskly Dashboard</a
                          >
                        </h3>
                        <p>
                          BibliU is a digital platform that provides university
                          students with personalized learning pathways..
                        </p>
                      </div>
                      <span class="category">Website SEO</span>
                      <a href="#" title="" class="share"
                        ><i class="lni lni-share"></i
                      ></a>
                    </div>
                    <!--project-slide end-->
                  </div>
                  <div class="col-lg-4">
                    <div class="project-slide">
                      <img src="assets/img/project2.jpg" alt="" class="w-100" />
                      <div class="project-slide-info">
                        <h3>
                          <a href="17_portfolio_single_layout_1.html" title=""
                            >Taskly Dashboard</a
                          >
                        </h3>
                        <p>
                          BibliU is a digital platform that provides university
                          students with personalized learning pathways..
                        </p>
                      </div>
                      <span class="category">Website SEO</span>
                      <a href="#" title="" class="share"
                        ><i class="lni lni-share"></i
                      ></a>
                    </div>
                    <!--project-slide end-->
                  </div>
                  <div class="col-lg-4">
                    <div class="project-slide">
                      <img src="assets/img/project3.jpg" alt="" class="w-100" />
                      <div class="project-slide-info">
                        <h3>
                          <a href="17_portfolio_single_layout_1.html" title=""
                            >Taskly Dashboard</a
                          >
                        </h3>
                        <p>
                          BibliU is a digital platform that provides university
                          students with personalized learning pathways..
                        </p>
                      </div>
                      <span class="category">Website SEO</span>
                      <a href="#" title="" class="share"
                        ><i class="lni lni-share"></i
                      ></a>
                    </div>
                    <!--project-slide end-->
                  </div>
                  <div class="col-lg-4">
                    <div class="project-slide">
                      <img src="assets/img/project1.jpg" alt="" class="w-100" />
                      <div class="project-slide-info">
                        <h3>
                          <a href="17_portfolio_single_layout_1.html" title=""
                            >Taskly Dashboard</a
                          >
                        </h3>
                        <p>
                          BibliU is a digital platform that provides university
                          students with personalized learning pathways..
                        </p>
                      </div>
                      <span class="category">Website SEO</span>
                      <a href="#" title="" class="share"
                        ><i class="lni lni-share"></i
                      ></a>
                    </div>
                    <!--project-slide end-->
                  </div>
                  <div class="col-lg-4">
                    <div class="project-slide">
                      <img src="assets/img/project2.jpg" alt="" class="w-100" />
                      <div class="project-slide-info">
                        <h3>
                          <a href="17_portfolio_single_layout_1.html" title=""
                            >Taskly Dashboard</a
                          >
                        </h3>
                        <p>
                          BibliU is a digital platform that provides university
                          students with personalized learning pathways..
                        </p>
                      </div>
                      <span class="category">Website SEO</span>
                      <a href="#" title="" class="share"
                        ><i class="lni lni-share"></i
                      ></a>
                    </div>
                    <!--project-slide end-->
                  </div>
                  <div class="col-lg-4">
                    <div class="project-slide">
                      <img src="assets/img/project3.jpg" alt="" class="w-100" />
                      <div class="project-slide-info">
                        <h3>
                          <a href="17_portfolio_single_layout_1.html" title=""
                            >Taskly Dashboard</a
                          >
                        </h3>
                        <p>
                          BibliU is a digital platform that provides university
                          students with personalized learning pathways..
                        </p>
                      </div>
                      <span class="category">Website SEO</span>
                      <a href="#" title="" class="share"
                        ><i class="lni lni-share"></i
                      ></a>
                    </div>
                    <!--project-slide end-->
                  </div>
                </div>
                <!--projects-sliders end-->
              </div>
              <div
                class="tab-pane fade"
                id="marketing"
                role="tabpanel"
                aria-labelledby="marketing-tab"
              >
                <div class="row projects-sliders">
                  <div class="col-lg-4">
                    <div class="project-slide">
                      <img src="assets/img/project1.jpg" alt="" class="w-100" />
                      <div class="project-slide-info">
                        <h3>
                          <a href="17_portfolio_single_layout_1.html" title=""
                            >Taskly Dashboard</a
                          >
                        </h3>
                        <p>
                          BibliU is a digital platform that provides university
                          students with personalized learning pathways..
                        </p>
                      </div>
                      <span class="category">Website SEO</span>
                      <a href="#" title="" class="share"
                        ><i class="lni lni-share"></i
                      ></a>
                    </div>
                    <!--project-slide end-->
                  </div>
                  <div class="col-lg-4">
                    <div class="project-slide">
                      <img src="assets/img/project2.jpg" alt="" class="w-100" />
                      <div class="project-slide-info">
                        <h3>
                          <a href="17_portfolio_single_layout_1.html" title=""
                            >Taskly Dashboard</a
                          >
                        </h3>
                        <p>
                          BibliU is a digital platform that provides university
                          students with personalized learning pathways..
                        </p>
                      </div>
                      <span class="category">Website SEO</span>
                      <a href="#" title="" class="share"
                        ><i class="lni lni-share"></i
                      ></a>
                    </div>
                    <!--project-slide end-->
                  </div>
                  <div class="col-lg-4">
                    <div class="project-slide">
                      <img src="assets/img/project3.jpg" alt="" class="w-100" />
                      <div class="project-slide-info">
                        <h3>
                          <a href="17_portfolio_single_layout_1.html" title=""
                            >Taskly Dashboard</a
                          >
                        </h3>
                        <p>
                          BibliU is a digital platform that provides university
                          students with personalized learning pathways..
                        </p>
                      </div>
                      <span class="category">Website SEO</span>
                      <a href="#" title="" class="share"
                        ><i class="lni lni-share"></i
                      ></a>
                    </div>
                    <!--project-slide end-->
                  </div>
                  <div class="col-lg-4">
                    <div class="project-slide">
                      <img src="assets/img/project1.jpg" alt="" class="w-100" />
                      <div class="project-slide-info">
                        <h3>
                          <a href="17_portfolio_single_layout_1.html" title=""
                            >Taskly Dashboard</a
                          >
                        </h3>
                        <p>
                          BibliU is a digital platform that provides university
                          students with personalized learning pathways..
                        </p>
                      </div>
                      <span class="category">Website SEO</span>
                      <a href="#" title="" class="share"
                        ><i class="lni lni-share"></i
                      ></a>
                    </div>
                    <!--project-slide end-->
                  </div>
                  <div class="col-lg-4">
                    <div class="project-slide">
                      <img src="assets/img/project2.jpg" alt="" class="w-100" />
                      <div class="project-slide-info">
                        <h3>
                          <a href="17_portfolio_single_layout_1.html" title=""
                            >Taskly Dashboard</a
                          >
                        </h3>
                        <p>
                          BibliU is a digital platform that provides university
                          students with personalized learning pathways..
                        </p>
                      </div>
                      <span class="category">Website SEO</span>
                      <a href="#" title="" class="share"
                        ><i class="lni lni-share"></i
                      ></a>
                    </div>
                    <!--project-slide end-->
                  </div>
                  <div class="col-lg-4">
                    <div class="project-slide">
                      <img src="assets/img/project3.jpg" alt="" class="w-100" />
                      <div class="project-slide-info">
                        <h3>
                          <a href="17_portfolio_single_layout_1.html" title=""
                            >Taskly Dashboard</a
                          >
                        </h3>
                        <p>
                          BibliU is a digital platform that provides university
                          students with personalized learning pathways..
                        </p>
                      </div>
                      <span class="category">Website SEO</span>
                      <a href="#" title="" class="share"
                        ><i class="lni lni-share"></i
                      ></a>
                    </div>
                    <!--project-slide end-->
                  </div>
                </div>
                <!--projects-sliders end-->
              </div>
              <div
                class="tab-pane fade"
                id="webdesign"
                role="tabpanel"
                aria-labelledby="webdesign-tab"
              >
                <div class="row projects-sliders">
                  <div class="col-lg-4">
                    <div class="project-slide">
                      <img src="assets/img/project1.jpg" alt="" class="w-100" />
                      <div class="project-slide-info">
                        <h3>
                          <a href="17_portfolio_single_layout_1.html" title=""
                            >Taskly Dashboard</a
                          >
                        </h3>
                        <p>
                          BibliU is a digital platform that provides university
                          students with personalized learning pathways..
                        </p>
                      </div>
                      <span class="category">Website SEO</span>
                      <a href="#" title="" class="share"
                        ><i class="lni lni-share"></i
                      ></a>
                    </div>
                    <!--project-slide end-->
                  </div>
                  <div class="col-lg-4">
                    <div class="project-slide">
                      <img src="assets/img/project2.jpg" alt="" class="w-100" />
                      <div class="project-slide-info">
                        <h3>
                          <a href="17_portfolio_single_layout_1.html" title=""
                            >Taskly Dashboard</a
                          >
                        </h3>
                        <p>
                          BibliU is a digital platform that provides university
                          students with personalized learning pathways..
                        </p>
                      </div>
                      <span class="category">Website SEO</span>
                      <a href="#" title="" class="share"
                        ><i class="lni lni-share"></i
                      ></a>
                    </div>
                    <!--project-slide end-->
                  </div>
                  <div class="col-lg-4">
                    <div class="project-slide">
                      <img src="assets/img/project3.jpg" alt="" class="w-100" />
                      <div class="project-slide-info">
                        <h3>
                          <a href="17_portfolio_single_layout_1.html" title=""
                            >Taskly Dashboard</a
                          >
                        </h3>
                        <p>
                          BibliU is a digital platform that provides university
                          students with personalized learning pathways..
                        </p>
                      </div>
                      <span class="category">Website SEO</span>
                      <a href="#" title="" class="share"
                        ><i class="lni lni-share"></i
                      ></a>
                    </div>
                    <!--project-slide end-->
                  </div>
                  <div class="col-lg-4">
                    <div class="project-slide">
                      <img src="assets/img/project1.jpg" alt="" class="w-100" />
                      <div class="project-slide-info">
                        <h3>
                          <a href="17_portfolio_single_layout_1.html" title=""
                            >Taskly Dashboard</a
                          >
                        </h3>
                        <p>
                          BibliU is a digital platform that provides university
                          students with personalized learning pathways..
                        </p>
                      </div>
                      <span class="category">Website SEO</span>
                      <a href="#" title="" class="share"
                        ><i class="lni lni-share"></i
                      ></a>
                    </div>
                    <!--project-slide end-->
                  </div>
                  <div class="col-lg-4">
                    <div class="project-slide">
                      <img src="assets/img/project2.jpg" alt="" class="w-100" />
                      <div class="project-slide-info">
                        <h3>
                          <a href="17_portfolio_single_layout_1.html" title=""
                            >Taskly Dashboard</a
                          >
                        </h3>
                        <p>
                          BibliU is a digital platform that provides university
                          students with personalized learning pathways..
                        </p>
                      </div>
                      <span class="category">Website SEO</span>
                      <a href="#" title="" class="share"
                        ><i class="lni lni-share"></i
                      ></a>
                    </div>
                    <!--project-slide end-->
                  </div>
                  <div class="col-lg-4">
                    <div class="project-slide">
                      <img src="assets/img/project3.jpg" alt="" class="w-100" />
                      <div class="project-slide-info">
                        <h3>
                          <a href="17_portfolio_single_layout_1.html" title=""
                            >Taskly Dashboard</a
                          >
                        </h3>
                        <p>
                          BibliU is a digital platform that provides university
                          students with personalized learning pathways..
                        </p>
                      </div>
                      <span class="category">Website SEO</span>
                      <a href="#" title="" class="share"
                        ><i class="lni lni-share"></i
                      ></a>
                    </div>
                    <!--project-slide end-->
                  </div>
                </div>
                <!--projects-sliders end-->
              </div>
              <div
                class="tab-pane fade"
                id="video"
                role="tabpanel"
                aria-labelledby="videoviral-tab"
              >
                <div class="row projects-sliders">
                  <div class="col-lg-4">
                    <div class="project-slide">
                      <img src="assets/img/project1.jpg" alt="" class="w-100" />
                      <div class="project-slide-info">
                        <h3>
                          <a href="17_portfolio_single_layout_1.html" title=""
                            >Taskly Dashboard</a
                          >
                        </h3>
                        <p>
                          BibliU is a digital platform that provides university
                          students with personalized learning pathways..
                        </p>
                      </div>
                      <span class="category">Website SEO</span>
                      <a href="#" title="" class="share"
                        ><i class="lni lni-share"></i
                      ></a>
                    </div>
                    <!--project-slide end-->
                  </div>
                  <div class="col-lg-4">
                    <div class="project-slide">
                      <img src="assets/img/project2.jpg" alt="" class="w-100" />
                      <div class="project-slide-info">
                        <h3>
                          <a href="17_portfolio_single_layout_1.html" title=""
                            >Taskly Dashboard</a
                          >
                        </h3>
                        <p>
                          BibliU is a digital platform that provides university
                          students with personalized learning pathways..
                        </p>
                      </div>
                      <span class="category">Website SEO</span>
                      <a href="#" title="" class="share"
                        ><i class="lni lni-share"></i
                      ></a>
                    </div>
                    <!--project-slide end-->
                  </div>
                  <div class="col-lg-4">
                    <div class="project-slide">
                      <img src="assets/img/project3.jpg" alt="" class="w-100" />
                      <div class="project-slide-info">
                        <h3>
                          <a href="17_portfolio_single_layout_1.html" title=""
                            >Taskly Dashboard</a
                          >
                        </h3>
                        <p>
                          BibliU is a digital platform that provides university
                          students with personalized learning pathways..
                        </p>
                      </div>
                      <span class="category">Website SEO</span>
                      <a href="#" title="" class="share"
                        ><i class="lni lni-share"></i
                      ></a>
                    </div>
                    <!--project-slide end-->
                  </div>
                  <div class="col-lg-4">
                    <div class="project-slide">
                      <img src="assets/img/project1.jpg" alt="" class="w-100" />
                      <div class="project-slide-info">
                        <h3>
                          <a href="17_portfolio_single_layout_1.html" title=""
                            >Taskly Dashboard</a
                          >
                        </h3>
                        <p>
                          BibliU is a digital platform that provides university
                          students with personalized learning pathways..
                        </p>
                      </div>
                      <span class="category">Website SEO</span>
                      <a href="#" title="" class="share"
                        ><i class="lni lni-share"></i
                      ></a>
                    </div>
                    <!--project-slide end-->
                  </div>
                  <div class="col-lg-4">
                    <div class="project-slide">
                      <img src="assets/img/project2.jpg" alt="" class="w-100" />
                      <div class="project-slide-info">
                        <h3>
                          <a href="17_portfolio_single_layout_1.html" title=""
                            >Taskly Dashboard</a
                          >
                        </h3>
                        <p>
                          BibliU is a digital platform that provides university
                          students with personalized learning pathways..
                        </p>
                      </div>
                      <span class="category">Website SEO</span>
                      <a href="#" title="" class="share"
                        ><i class="lni lni-share"></i
                      ></a>
                    </div>
                    <!--project-slide end-->
                  </div>
                  <div class="col-lg-4">
                    <div class="project-slide">
                      <img src="assets/img/project3.jpg" alt="" class="w-100" />
                      <div class="project-slide-info">
                        <h3>
                          <a href="17_portfolio_single_layout_1.html" title=""
                            >Taskly Dashboard</a
                          >
                        </h3>
                        <p>
                          BibliU is a digital platform that provides university
                          students with personalized learning pathways..
                        </p>
                      </div>
                      <span class="category">Website SEO</span>
                      <a href="#" title="" class="share"
                        ><i class="lni lni-share"></i
                      ></a>
                    </div>
                    <!--project-slide end-->
                  </div>
                </div>
                <!--projects-sliders end-->
              </div>
            </div>
          </div>
          <!--projects-tab-sec end-->
        </div>
      </section>
      <!--projects-v8 end-->

      <section class="why-us-v8">
        <div class="container">
          <div
            class="title-v8 text-center wow fadeInUp"
            data-wow-duration="1000ms"
            data-wow-delay="0ms"
          >
            {% assign why_us = page.why_us %}
            <h2>{{ why_us.title}}</h2>
            <p>{{ why_us.content}}</p>
          </div>
          <!--title-v8 end-->
          <div class="row fzt-row">
            {% for tablist in page.tablist %}
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="our-fzt">
                <h3>
                  <a href="{{ tablist.link }}" title="">{{ tablist.name }}</a>
                </h3>
                <p>{{ tablist.content }}</p>
                <span class="fzt-icon {{ tablist.version }}"
                  ><i class="{{ tablist.icon }}"></i
                ></span>
              </div>
              <!--our-fzt end-->
            </div>
            {% endfor %}
          </div>
        </div>
      </section>
      <!--why-us-v8 end-->

    {% include testimonial/testimonial-v1.html %}

    {% include partners/partners-v1.html %}

      <section class="blog-section-v7 v8">
        <div class="container">
          <div
            class="title-v8 text-center wow fadeInUp"
            data-wow-duration="1000ms"
            data-wow-delay="0ms"
          >
            <h2>Latest Articles</h2>
          </div>
          <!--title-v8 end-->
          <div class="blog-posts-v7">
            <div class="row">
              {% for post in site.posts limit:3 %}
              <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="blog-post-v7">
                  <div class="blog-thumbnail">
                    <img src="{{ post.layout_image}}" alt="" class="w-100" />
                  </div>
                  <div class="blog-info">
                    <ul class="meta">
                      <li>
                        <a href="#" title=""
                          >{{ post.date | date_to_long_string: "ordinal", "US"
                          }}</a
                        >
                      </li>
                    </ul>
                    <h2>
                      <a href="{{post.url}}" title="">{{ post.title}}</a>
                    </h2>
                  </div>
                </div>
                <!--blog-post-v7 end-->
              </div>
              {% endfor %}
            </div>
          </div>
          <!--blog-posts-v7 end-->
        </div>
      </section>

      <section class="newslettter-sec-v7">
        <div class="container">
          <div
            class="news-letter-v7 wow fadeInUp"
            data-wow-duration="1000ms"
            data-wow-delay="0ms"
          >
            <div class="row align-items-center">
              <div class="col-lg-5">
                <div class="newsletter-text">
                  {% assign article = page.article %}
                  <h2>{{ article.title}}</h2>
                  <span>{{ article.content }}</span>
                </div>
                <!--newsletter-text end-->
              </div>
              <div class="col-lg-7">
                <form class="newsletter-form-v7">
                  <input
                    type="email"
                    name="email"
                    placeholder="Email Address"
                  />
                  <button type="submit">Subscribe</button>
                  <i class="lni lni-envelope"></i>
                </form>
                <!--newsletter-form-v7 end-->
              </div>
            </div>
          </div>
          <!--news-letter-v7 end-->
        </div>
      </section>
      {% include footer/footer-agency.html %}
    </div>
    <!--wrapper end-->

    <script src="/assets/js/bundle.min.js"></script>
    {% include chat-script.html %}

  </body>
</html>
