<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
  <div class="wrapper">
    {% include header/header-consulting.html %}
    <!--header end-->
    <section class="main-banner-v9">
      <div class="container">
        <div class="banner-slider-v9 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0ms">
          <div class="banner-slide-v9">
            <span>Open-source power systems modeling platform</span>
            <h2><span>Sienna</h2>
            <p>The most advanced power systems modeling platform ever built</p>
            <a href="#" title="" class="btn-default-v9">Get Started</a>
          </div><!--banner-slide-v9 end-->
          <div class="banner-slide-v9">
            <span>Efficiently access and handle power systems data </span>
            <h2><span>Sienna</span>\Data</h2>
            <p>Comprehensive, extensible library of data structures for energy systems modeling across timescales</p>
            <a href="#" title="" class="btn-default-v9">Get Started</a>
          </div><!--banner-slide-v9 end-->
          <div class="banner-slide-v9">
            <span>Optimal power system scheduling simulations</span>
            <h2><span>Sienna</span>\Ops</h2>
            <p>Efficient, flexible, and reproducible simulations of dispatch and scheduling, including sequential
              problems for production cost modeling</p>
            <a href="#" title="" class="btn-default-v9">Get Started</a>
          </div><!--banner-slide-v9 end-->
          <div class="banner-slide-v9">
            <span>Transient stability modeling</span>
            <h2><span>Sienna</span>\Dyn</h2>
            <p>Simulation and modeling of power systems dynamics specifically designed to analyze inverter-based
              resource integration</p>
            <a href="#" title="" class="btn-default-v9">Get Started</a>
          </div><!--banner-slide-v9 end-->
        </div><!--banner-slider-v9 end-->
      </div>
    </section><!--main-banner-v9 end-->

    <section class="about-v9">
      <div class="container">
        <div class="abt-v9-cntr">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="call-us-v9">
                <ul class="cl-ordr" id="contact">
                  <a href="https://join.slack.com/t/nrel-sienna/shared_invite/zt-1lyt10wio-y3yV_yug3F68vLau27gUzA" ,
                    target="_blank">
                    <span class="icon-v9"><i class="lni lni-slack"></i></span></a>
                    <h4 style="min-width: 200px;">join the conversation</h4>
                  <a href="mailto:sienna@nrel.gov">
                    <span class="icon-v9"><i class="lni lni-envelope"></i></span></a>
                    <h4>contact us</h4>
                </ul>
          </div>
          <!--call-us-v9 end-->
        </div>
        <div class="col-lg-6">
          <ul class="cl-ordr" id="counter">
            <li>
              <h3 class="count">2560</h3>
              <span>Downloads</span>
            </li>
            <li>
              <h3 class="count">42680</h3>
              <span>GitHub Stars</span>
            </li>
          </ul>
        </div>
      </div>
  </div>
  <!--abt-v9-cntr end-->
  </div>
  </section>
  <!-- about-v9 end-->


  <section class="services-v9">
    <div class="container">
      <div class="title-v9 text-center wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0ms">
        <span>Sienna capabilities for industry and research applications</span>
        <h2><span>Enabling scalable modeling capabilities through</span> open-source applications</h2>
      </div>
      <!--title-v9 end-->
      <div class="row services_v9">
        <div class="col-lg-4 col-md-6">
          <div class="service-v9">
            <span class="s-icon"><i class="lni lni-bolt"></i></span>
            <h3>
              <a href="17_portfolio_single_layout_1.html" title="">Production Cost Modeling</a>
            </h3>
            <p>
              Advanced simulation capabilities for exploring system scheduling, method development, market opportunities, technology performance, and system reliability
            </p>
            <span class="s-category">Sienna\Ops</span>
          </div>
          <!--service-v9 end-->
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="service-v9">
            <span class="s-icon"><i class="lni lni-bolt"></i></span>
            <h3>
              <a href="17_portfolio_single_layout_1.html" title="">Resource Adequacy</a>
            </h3>
            <p>
              Probabilistic resource adequacy calculations for system reliability analysis.
            </p>
            <span class="s-category">Sienna\Ops</span>
          </div>
          <!--service-v9 end-->
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="service-v9">
            <span class="s-icon"><i class="lni lni-bolt"></i></span>
            <h3>
              <a href="17_portfolio_single_layout_1.html" title="">Power Flow</a>
            </h3>
            <p>
              Efficient power flow simulations using linearized-DC and AC power flow methods.
            </p>
            <span class="s-category">Sienna\Data</span>
          </div>
          <!--service-v9 end-->
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="service-v9">
            <span class="s-icon"><i class="lni lni-bolt"></i></span>
            <h3>
              <a href="17_portfolio_single_layout_1.html" title="">Transient Stability</a>
            </h3>
            <p>
              Small signal stability analysis and full dynamic simulation capabilities for analyzing electro-magnetic transients and system stability in systems with large shares of inverter-based resources.
            </p>
            <span class="s-category">Sienna\Dyn</span>
          </div>
          <!--service-v9 end-->
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="service-v9">
            <span class="s-icon"><i class="lni lni-bolt"></i></span>
            <h3>
              <a href="17_portfolio_single_layout_1.html" title="">Power System Data Analysis</a>
            </h3>
            <p>
              Efficient access to power system datasets in a rich ecosystem for scientific computing, data analysis, and visualization.
            </p>
            <span class="s-category">Sienna\Data</span>
          </div>
          <!--service-v9 end-->
        </div>
      </div>
      <!--services_v9 end-->
    </div>
  </section>
  <!--services-v9 end-->

  <section class="why-us-v9">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="why-txt-v9">
            <div class="title-v9">
              <span>why choose sienna</span>
              <h2><span>Open solutions</span> for a transforming industry</h2>
            </div>
            <!--title-v9 end-->
            <ul>
              <li>
                <div class="us-svs">
                  <span class="svs-icon">
                    <i class="lni lni-money-protection"></i>
                  </span>
                  <div class="svs-info">
                    <h3>Cutting-edge modeling capabilities</h3>
                    <p>
                      Scalable modeling capabilities powered by Julia with the rapid evolution of open-source development.
                    </p>
                  </div>
                </div>
                <!--us-svs end-->
              </li>
              <li>
                <div class="us-svs">
                  <span class="svs-icon">
                    <i class="lni lni-crown"></i>
                  </span>
                  <div class="svs-info">
                    <h3>Extensibility</h3>
                    <p>
                      Open codebase and permissive licensing (BSD 3.0) enable endless customization, reuse, and commercialization opportunities.
                    </p>
                  </div>
                </div>
                <!--us-svs end-->
              </li>
              <li>
                <div class="us-svs">
                  <span class="svs-icon">
                    <i class="lni lni-comments-reply"></i>
                  </span>
                  <div class="svs-info">
                    <h3>Efficiency by design</h3>
                    <p>
                      Designed with efficiency in mind, Sienna promotes efficient, reproducible workflows that allows users to identify issues early and generate results quickly.
                    </p>
                  </div>
                </div>
                <!--us-svs end-->
              </li>
            </ul>
          </div>
          <!--why-txt-v9 end-->
        </div>
        <div class="col-lg-6">
          <div class="wy-img wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="0ms">
            <img src="/assets/img/badfon-pole-lep-nebo_crop.png" alt=""/>
          </div>
          <!--wy-img end-->
        </div>
      </div>
    </div>
  </section>
  <!--why-us-v9 end-->

  <section class="about-v9-content">
    <div class="container-fluid">
      <div class="about-v9-row">
        <div class="ban-img-v9">
          <img src="assets/img/nrel_campus_rot.png" alt="" />
        </div>
        <!--ban-img-v9 end-->
        <div class="about-v9-txt wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0ms">
          <span>about NREL</span>
          <h2>Focused on today's <span>Energy Challenges</span></h2>
          <p>
            From breakthroughs in fundamental science to new clean technologies to integrated energy systems that power our lives, NREL researchers are transforming the way the nation and the world use energy. We built Sienna to enable energy systems analysis at a scale that matters for users around the globe.
          </p>
          <a href="NREL.gov" title="" class="btn-default-v9 v2">Learn More</a>
          <a href="https://www.youtube.com/watch?v=nujA2HHrxyI" title="" class="view-btn html5lightbox">
            <span class="pl-btn"><i class="lni lni-play"></i></span>
            <span class="vt">view our story</span>
          </a>
        </div>
        <!--about-v9-txt end-->
      </div>
    </div>
  </section>
  <!--about-v9-content end-->

  {% include testimonial/testimonial-developer.html %}
  <section class="team-sec v9">
    <div class="container">
      <div class="team-sec-content">
        <div class="row align-items-center">
          <div class="col-lg-7">
            <div class="team-thumb wow zoomIn" data-wow-duration="1000ms" data-wow-delay="0ms">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="blog-section-v7 v9">
    <div class="container">
      <div class="title-v9 text-center wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0ms">
        <span>publications</span>
        <h2><span>Latest</span> Articles</h2>
      </div>
      <!--title-v9 end-->
      <div class="blog-posts-v7">
        <div class="row">
          {% for blog in site.blog limit: 3 %}
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="blog-post-v7">
              <div class="blog-thumbnail">
                <img src="{{blog.layout_image}}" alt="" class="w-100" />
              </div>
              <div class="blog-info">
                <ul class="meta">
                  <li>
                    <a>{{ page.date | date_to_long_string: "ordinal", "US"
                      }}</a>
                  </li>
                </ul>
                <h2>
                  <a href="{{blog.url}}" title="">{{blog.title}}</a>
                </h2>
              </div>
            </div>
            <!--blog-post-v7 end-->
          </div>
          {% endfor %}
        </div>
      </div>
      <!--blog-posts-v7 end-->
    </div>
  </section>

  {% include footer/footer-consulting.html %}
  <!--footer end-->
  </div>
  <!--wrapper end-->

  <script src="/assets/js/bundle.min.js"></script>


</body>

</html>