<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    <div class="wrapper">
      {% include header/header-default.html %}

      <section class="service-page-banner">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div
                class="sv-title wow fadeInUp"
                data-wow-duration="1000ms"
                data-wow-delay="0ms"
              >
              {% assign banner = page.banner %}
                <span>{{banner.title}}</span>
                <h2>
                  {{banner.sub_title}}
                </h2>
                <p>
                  {{banner.content}}
                </p>
              </div>
              <!--sv-title end-->
            </div>
            <div class="col-lg-6">
              <div
                class="svss-img wow zoomIn"
                data-wow-duration="1000ms"
                data-wow-delay="0ms"
              >
                <img src={{page.img}} alt="" />
              </div>
              <!--svss-img end-->
            </div>
          </div>
        </div>
      </section>
      <!--service-page-banner end-->

      <section class="career-page">
        <div class="container">
          <!--sv-title end-->
          <div class="career-single">
            <span class="job-type">{{page.tags}}</span>
            <div class="cr-single-content">
                {{content}}
              <a
                href="/SiennaDocs/docs/build/how-to/install.html"
                title=""
                class="btn-default box-shadow-none w-100 text-center"
                >Get Started</a
              >
            </div>
            <!--cr-single-content end-->
          </div>
          <!--career-single end-->
        </div>
      </section>
      <!--career-page end-->
      {% include footer/footer-sienna.html %}
    </div>
    <!--wrapper end-->

    <script src="{{site.baseurl}}/assets/js/bundle.min.js"></script>
  </body>
</html>
