<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
  <div class="wrapper">
    {% include header/header-default.html %}
    <!--header end-->

  <section class="services-v9">
    <div class="container">
      <div class="title-v9 text-center wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0ms">
        <h2><span>Learn</span> and Contribute</h2>
      </div>
      <!--title-v9 end-->
      <div class="row services_v9">
        {% for resource in page.resources %}
        <div class="col-lg-4 col-md-6">
          <div class="service-v9">
            <span class="s-icon"><a target="_blank" href={{resource.url}} title=""><i class="lni lni-bolt"></i></span>
            <h3>
              <a href={{resource.url}} target="_blank" title="">{{resource.title}}</a>
            </h3>
            <p>{{resource.content}}</p>
            <span class="s-category"><a target="_blank" href={{resource.url}} title="">{{resource.sub_title}} </a></span>
          </div>
        </div>
        {% endfor %}
      <!--services_v9 end-->
    </div>
  </section>
  <!--services-v9 end-->

  {% include footer/footer-sienna.html %}
  <!--footer end-->
  </div>
  <!--wrapper end-->
  <script src="{{site.baseurl}}/assets/js/bundle.min.js"></script>
</body>

</html>