---
layout: default
pagination:
  enabled:
    true
---
<section class="page-content">
  <div class="container v-3">
    <div class="featured-post-sec">
      <div class="featured-post-slider">
        {% for post in site.posts %}
        {% if post.featured == true %}
        <div class="featured-post">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="featured-post-text">
                <span>Featured Post</span>
                <h2>
                  {{post.title}}
                </h2>
                <p>
                  {{post.description}}
                </p>
                <a
                  href="{{post.url}}"
                  title=""
                  class="btn-default"
                  >Continue Reading <i class="lni lni-chevron-right"></i
                ></a>
              </div>
              <!--featured-post-text end-->
            </div>
            <div class="col-lg-6">
              <div class="vector-img">
                <img src="{{post.layout_image}}" alt="" />
              </div>
              <!--vector-img end-->
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
        <!--featured-content end-->
        <!--featured-content end-->
      </div>
      <!--featured-post-slider end-->
    </div>
    <!--featured-post-sec end-->
  </div>
  <div class="container">
    <div class="lt-news">
      <div class="blog-posts-v10 row">
        <div class="col-12">
          <h3 class="pg-title">Featured Posts</h3>
        </div>
        <!---->
        {% for post in site.posts %}
        <!---->
        {% if post.featured == true %}
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="post-v10">
            <div class="post-thumb">
              <img src="{{post.image}}" alt="" class="w-100" />
            </div>
            <div class="post-info">
              <h2>
                <a href="{{post.url}}" title="">{{post.title}}</a>
              </h2>
              <span class="posted-on"
                >{{ post.date | date_to_long_string: "ordinal", "US" }}
              </span>
            </div>
          </div>
          <!--post-v10 end-->
        </div>
        {% endif %} {% endfor %}
      </div>
      <!--blog-posts end-->
    </div>
    <!--latest-news end-->
    <div class="blog-main-content">
      <div class="row">
        <div class="col-lg-9">
          <div class="blog-posts-layout2">
            {% for post in site.posts limit:7 %}
            <div class="bg-post">
              <div class="bg-post-thumb">
                <img src="{{post.layout_image}}" alt="" />
              </div>
              <div class="bg-post-info">
                <ul class="meta">
                  <li>
                    {{ post.date | date_to_long_string: "ordinal", "US" }}
                  </li>
                </ul>
                <h2>
                  <a href="{{post.url}}" title="">{{post.title}}</a>
                </h2>
                <p>{{post.description}}</p>
              </div>
            </div>
            {% endfor %}
            <!--bg-post end-->
          </div>
          <!-- blog-posts-layout2 end-->
          <div class="mile_pagination">
          					<nav>
          						<ul class="pagination">
          					    	<li class="page-item prev">
          					      		<a class="page-link" href="{{ paginator.previous_page_path }}" tabindex="-1">Prev</a>
          					    	</li>
          								{% for page in (1..paginator.total_pages) %}
          								{% if page == paginator.page %}
          					    	<li class="page-item"><a class="page-link" href="#!">{{ page }}</a></li>
          								{% else %}
          					    	<li class="page-item active">
          					      		<a class="page-link" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }} <span class="sr-only">(current)</span></a>
          					    	</li>
                          {% endif %}
                          {% endfor %}
                          <li class="page-item next">
          					      		<a class="page-link" href="{{ paginator.next_page_path }}">Next</a>
          					    	</li>
          					  	</ul>
          					</nav>
          </div>
          <!--mile_pagination end-->
        </div>
        <div class="col-lg-3">
          <div class="sidebar blog-sidebar">
            {% include search.html %}
            {% include categories-widget.html %}
            <!--widget-categories end-->
            <div class="widget widget-popular-posts">
              <h3 class="widget-title">Popular Posts</h3>
              <ul class="wd-posts">
                {% for post in site.posts %}
                {% if post.popular == true %}

                <li>
                  <div class="pp-post">
                    <h3>
                      <a href="{{post.url}}" title=""
                        >{{post.title}}</a
                      >
                    </h3>
                    <span>{{post.date}}</span>
                  </div>
                  <!--pp-post end-->
                </li>
                {% endif %}
                {% endfor %}
              </ul>
            </div>
            <!--widget-popular-posts end-->
            <div class="widget widget-tags">
              <h3 class="widget-title">Popular Tags</h3>
              <ul class="tags-link">
                <li><a href="#" title="">wordpress</a></li>
                <li><a href="#" title="">theme</a></li>
                <li><a href="#" title="">portfolio</a></li>
                <li><a href="#" title="">color</a></li>
                <li><a href="#" title="">inspiration</a></li>
                <li><a href="#" title="">web</a></li>
                <li><a href="#" title="">site</a></li>
                <li><a href="#" title="">creativity</a></li>
                <li><a href="#" title="">daily</a></li>
              </ul>
            </div>
            <!--widget-tags end-->
            <div class="widget widget-adver">
              <img src="/assets/img/ad-img2.jpg" alt="" class="w-100" />
            </div>
            <!--widget-adver end-->
          </div>
          <!--sidebar end-->
        </div>
      </div>
    </div>
    <!--blog-main-content end-->
  </div>
</section>
